openapi: "3.0.0"
info:
  version: 1.0.0
  title: US Digital Registry
servers:
  - url: https://api.gsa.gov/technology/digital-registry/v1
paths:
  /agencies:
    get:
      summary: List all agencies
      operationId: listAgencys
      tags:
        - agencies
      parameters:
        - name: q
          in: query
          description: String to search for in name and acronym of agency
          required: false
          schema:
            type: string
        - name: no_accounts
          in: query
          description: Set parameter to "true" to return agencies that have no accounts in the system
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of results to return per query
          required: false
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Page of results to return per query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of agencies
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Agencies"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /agencies/{agencyId}:
    get:
      summary: Info for a specific agency
      operationId: showPetById
      tags:
        - agencies
      parameters:
        - name: agencyId
          in: path
          required: true
          description: The id of the agency to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agency"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /mobile_apps:
    get:
      summary: List all Mobile Apps
      operationId: listMobileApps
      tags:
        - mobile_apps
      parameters:
        - name: q
          in: query
          description: String to search for in name and and description of the mobile application
          required: false
          schema:
            type: string
        - name: agencies
          in: query
          description: Comma seperated list of agency ids to filter results
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Comma seperated list of tags to filter results
          required: false
          schema:
            type: string
        - name: language
          in: query
          description: Comma seperated list of tags to filter results
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of results to return per query
          required: false
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Page of results to return per query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of mobile applications
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/MobileApps"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /mobile_apps/{mobileAppId}:
    get:
      summary: Info for a specific mobileApp
      operationId: showMobileAppById
      tags:
        - mobile_apps
      parameters:
        - name: mobileAppId
          in: path
          required: true
          description: The id of the mobile app to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileApp"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /social_media:
    get:
      summary: List all Social Media Accounts
      operationId: listSocialMedia
      tags:
        - social_media
      parameters:
        - name: q
          in: query
          description: String to search for in name and and description of the social media account
          required: false
          schema:
            type: string
        - name: agencies
          in: query
          description: Comma seperated list of agency ids to filter results
          required: false
          schema:
            type: string
        - name: tags
          in: query
          description: Comma seperated list of tags to filter results
          required: false
          schema:
            type: string
        - name: language
          in: query
          description: Comma seperated list of tags to filter results
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of results to return per query
          required: false
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Page of results to return per query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of social media accounts
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/SocialMediaAccounts"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /social_media/{socialMediaAccountId}:
    get:
      summary: Info for a specific social media account
      operationId: showMobileAppById
      tags:
        - social_media
      parameters:
        - name: socialMediaAccountId
          in: path
          required: true
          description: The id of the social media account to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SocialMediaAccount"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /tags:
    get:
      summary: List all tags
      operationId: listTags
      tags:
        - tags
      parameters:
        - name: q
          in: query
          description: String to search for in name of tags
          required: false
          schema:
            type: string
        - name: page_size
          in: query
          description: Number of results to return per query
          required: false
          schema:
            type: integer
            format: int32
        - name: page
          in: query
          description: Page of results to return per query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of tags
          content:
            application/json:    
              schema:
                $ref: "#/components/schemas/Tags"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /tags/{tagId}:
    get:
      summary: Info for a specific tag
      operationId: showTagById
      tags:
        - tags
      parameters:
        - name: tagId
          in: path
          required: true
          description: The id of the tag to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Tag"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query      
      name: API_KEY  
  schemas:
    Agency:
      required:
        - id
        - name
        - info_url
        - mobile_app_count
        - social_media_count
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
        info_url:
          type: string
        mobile_app_count:
          type: integer
          format: int32
        social_media_count:
          type: integer
          format: int32
    Agencies:
      type: array
      items:
        $ref: "#/components/schemas/Agency"
    MobileApp:
      required:
        - id
        - name
        - short_description
        - long_description
        - icon_url
        - language
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        short_description:
          type: string
        long_description:
          type: string
        icon_url:
          type: string
          format: int32
        language:
          type: string
    MobileApps:
      type: array
      items:
        $ref: "#/components/schemas/MobileApp"
    SocialMediaAccount:
      required:
        - id
        - name
        - short_description
        - long_description
        - icon_url
        - language
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        short_description:
          type: string
        long_description:
          type: string
        icon_url:
          type: string
          format: int32
        language:
          type: string
    SocialMediaAccounts:
      type: array
      items:
        $ref: "#/components/schemas/SocialMediaAccount"
    Tag:
      required:
        - id
        - name
        - tag_type
        - mobile_app_count
        - social_media_count
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
        tag_type:
          type: string
        mobile_app_count:
          type: integer
          format: int32
        social_media_count:
          type: integer
          format: int32
    Tags:
      type: array
      items:
        $ref: "#/components/schemas/Tag"
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
security:
  - ApiKeyAuth: []