openapi: 3.0.3
info:
  title: SAM.gov Subawards Reporting API 
  description: Swagger documentation for API for reporting on Subawards  
  license:
    name: GSA
  version: 0.1.0
servers:
  - url: https://api.sam.gov/acquisition/v1/subawards
  - url: https://api.sam.gov/assistance/v1/subawards
  - url: https://api-alpha.sam.gov/acquisition/v1/subawards
  - url: https://api-alpha.sam.gov/assistance/v1/subawards
tags:
  - name: AcquisitionSubawardsV1
    description: All endpoints for Acquisition (Contracts) Subawards Reporting
    #externalDocs:
     # description: Find out more
    #  url: http://swagger.io
  - name: AssistanceSubawardsV1
    description: All endpoints for Assistance (Grants) Subawards Reporting
    #externalDocs:
     # description: Find out more about our store
      #url: http://swagger.io
paths:
  /contract/v1/subcontracts/{subawardReportNumber}:
    get:
      tags:
        - ContractsSubawardsV1
      summary: Get existing Contract Subaward report(s)
      description: Get existing Contract Subaward report(s)
      operationId: getContractReportByReportNumberAndStatus
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: subawardReportNumber
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
    put:
      tags:
        - ContractsSubawardsV1
      summary: Update contracts report
      description: Update previously submitted contracts report
      operationId: updateContractsReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: subawardReportNumber
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateContractRequestObjectDto'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
    delete:
      tags:
        - ContractsSubawardsV1
      summary: Delete Contract Subaward report
      description: Delete Contract Subaward report
      operationId: deleteContractReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: subawardReportNumber
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /assistance/v1/subawards/{subawardReportNumber}:
    get:
      tags:
        - AssistanceSubawardsV1
      summary: Get existing Assistance Subaward report(s)
      description: Get existing Assistance Subaward report(s)
      operationId: getGrantReportByReportNumberAndStatus
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: subawardReportNumber
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
    put:
      tags:
        - AssistanceSubawardsV1
      summary: Update Assistance report
      description: Update previously submitted Assistance report
      operationId: updateGrantsReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: subawardReportNumber
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGrantRequestObjectDto'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
    delete:
      tags:
        - AssistanceSubawardsV1
      summary: Delete Assistance Subaward report
      description: Delete Assistance Subaward report
      operationId: deleteGrantReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: subawardReportNumber
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /contract/v1/subcontracts:
    get:
      tags:
        - ContractsSubawardsV1
      summary: Get existing Contract Subaward report(s)
      description: Get existing Contract Subaward report(s)
      operationId: getContractReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: contractNumber
          in: query
          required: false
          schema:
            type: string
        - name: reportingAgencyCode
          in: query
          required: false
          schema:
            type: string
        - name: idvReferenceNumber
          in: query
          required: false
          schema:
            type: string
        - name: referenceAgencyCode
          in: query
          required: false
          schema:
            type: string
        - name: subawardReportNumber
          in: query
          required: false
          schema:
            type: string
        - name: reportStatus
          in: query
          required: false
          schema:
            type: string
        - name: subawardNumber
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
    post:
      tags:
        - ContractsSubawardsV1
      summary: Submit contracts report
      description: Submit one or multiple SubContract report for Contracts
      operationId: saveContractsReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateContractRequestObjectDto'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /assistance/v1/subawards:
    get:
      tags:
        - AssistanceSubawardsV1
      summary: Get existing Assistance Subaward report(s)
      description: Get existing Assistance Subaward report(s)
      operationId: getGrantReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
        - name: FAIN
          in: query
          required: false
          schema:
            type: string
        - name: agencyCode
          in: query
          required: false
          schema:
            type: string
        - name: subawardReportNumber
          in: query
          required: false
          schema:
            type: string
        - name: reportStatus
          in: query
          required: false
          schema:
            type: string
        - name: subawardNumber
          in: query
          required: false
          schema:
            type: string
        - name: page
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 0
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: object
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
    post:
      tags:
        - AssistanceSubawardsV1
      summary: Submit Assistance report
      description: Submit one or multiple Subaward report for Assistance awards
      operationId: saveGrantReport
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGrantRequestObjectDto'
        required: true
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '405':
          description: Validation exception
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /heartbeat/elasticsearch:
    get:
      tags:
        - heartbeat-controller
      operationId: getElasticSearchStatus
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                  - 100 CONTINUE
                  - 101 SWITCHING_PROTOCOLS
                  - 102 PROCESSING
                  - 103 CHECKPOINT
                  - 200 OK
                  - 201 CREATED
                  - 202 ACCEPTED
                  - 203 NON_AUTHORITATIVE_INFORMATION
                  - 204 NO_CONTENT
                  - 205 RESET_CONTENT
                  - 206 PARTIAL_CONTENT
                  - 207 MULTI_STATUS
                  - 208 ALREADY_REPORTED
                  - 226 IM_USED
                  - 300 MULTIPLE_CHOICES
                  - 301 MOVED_PERMANENTLY
                  - 302 FOUND
                  - 302 MOVED_TEMPORARILY
                  - 303 SEE_OTHER
                  - 304 NOT_MODIFIED
                  - 305 USE_PROXY
                  - 307 TEMPORARY_REDIRECT
                  - 308 PERMANENT_REDIRECT
                  - 400 BAD_REQUEST
                  - 401 UNAUTHORIZED
                  - 402 PAYMENT_REQUIRED
                  - 403 FORBIDDEN
                  - 404 NOT_FOUND
                  - 405 METHOD_NOT_ALLOWED
                  - 406 NOT_ACCEPTABLE
                  - 407 PROXY_AUTHENTICATION_REQUIRED
                  - 408 REQUEST_TIMEOUT
                  - 409 CONFLICT
                  - 410 GONE
                  - 411 LENGTH_REQUIRED
                  - 412 PRECONDITION_FAILED
                  - 413 PAYLOAD_TOO_LARGE
                  - 413 REQUEST_ENTITY_TOO_LARGE
                  - 414 URI_TOO_LONG
                  - 414 REQUEST_URI_TOO_LONG
                  - 415 UNSUPPORTED_MEDIA_TYPE
                  - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                  - 417 EXPECTATION_FAILED
                  - 418 I_AM_A_TEAPOT
                  - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                  - 420 METHOD_FAILURE
                  - 421 DESTINATION_LOCKED
                  - 422 UNPROCESSABLE_ENTITY
                  - 423 LOCKED
                  - 424 FAILED_DEPENDENCY
                  - 425 TOO_EARLY
                  - 426 UPGRADE_REQUIRED
                  - 428 PRECONDITION_REQUIRED
                  - 429 TOO_MANY_REQUESTS
                  - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                  - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                  - 500 INTERNAL_SERVER_ERROR
                  - 501 NOT_IMPLEMENTED
                  - 502 BAD_GATEWAY
                  - 503 SERVICE_UNAVAILABLE
                  - 504 GATEWAY_TIMEOUT
                  - 505 HTTP_VERSION_NOT_SUPPORTED
                  - 506 VARIANT_ALSO_NEGOTIATES
                  - 507 INSUFFICIENT_STORAGE
                  - 508 LOOP_DETECTED
                  - 509 BANDWIDTH_LIMIT_EXCEEDED
                  - 510 NOT_EXTENDED
                  - 511 NETWORK_AUTHENTICATION_REQUIRED
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /heartbeat/elasticsearch/details:
    get:
      tags:
        - heartbeat-controller
      operationId: getElasticSearchDetails
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /heartbeat/database:
    get:
      tags:
        - heartbeat-controller
      operationId: getDatabaseStatus
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                  - 100 CONTINUE
                  - 101 SWITCHING_PROTOCOLS
                  - 102 PROCESSING
                  - 103 CHECKPOINT
                  - 200 OK
                  - 201 CREATED
                  - 202 ACCEPTED
                  - 203 NON_AUTHORITATIVE_INFORMATION
                  - 204 NO_CONTENT
                  - 205 RESET_CONTENT
                  - 206 PARTIAL_CONTENT
                  - 207 MULTI_STATUS
                  - 208 ALREADY_REPORTED
                  - 226 IM_USED
                  - 300 MULTIPLE_CHOICES
                  - 301 MOVED_PERMANENTLY
                  - 302 FOUND
                  - 302 MOVED_TEMPORARILY
                  - 303 SEE_OTHER
                  - 304 NOT_MODIFIED
                  - 305 USE_PROXY
                  - 307 TEMPORARY_REDIRECT
                  - 308 PERMANENT_REDIRECT
                  - 400 BAD_REQUEST
                  - 401 UNAUTHORIZED
                  - 402 PAYMENT_REQUIRED
                  - 403 FORBIDDEN
                  - 404 NOT_FOUND
                  - 405 METHOD_NOT_ALLOWED
                  - 406 NOT_ACCEPTABLE
                  - 407 PROXY_AUTHENTICATION_REQUIRED
                  - 408 REQUEST_TIMEOUT
                  - 409 CONFLICT
                  - 410 GONE
                  - 411 LENGTH_REQUIRED
                  - 412 PRECONDITION_FAILED
                  - 413 PAYLOAD_TOO_LARGE
                  - 413 REQUEST_ENTITY_TOO_LARGE
                  - 414 URI_TOO_LONG
                  - 414 REQUEST_URI_TOO_LONG
                  - 415 UNSUPPORTED_MEDIA_TYPE
                  - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                  - 417 EXPECTATION_FAILED
                  - 418 I_AM_A_TEAPOT
                  - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                  - 420 METHOD_FAILURE
                  - 421 DESTINATION_LOCKED
                  - 422 UNPROCESSABLE_ENTITY
                  - 423 LOCKED
                  - 424 FAILED_DEPENDENCY
                  - 425 TOO_EARLY
                  - 426 UPGRADE_REQUIRED
                  - 428 PRECONDITION_REQUIRED
                  - 429 TOO_MANY_REQUESTS
                  - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                  - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                  - 500 INTERNAL_SERVER_ERROR
                  - 501 NOT_IMPLEMENTED
                  - 502 BAD_GATEWAY
                  - 503 SERVICE_UNAVAILABLE
                  - 504 GATEWAY_TIMEOUT
                  - 505 HTTP_VERSION_NOT_SUPPORTED
                  - 506 VARIANT_ALSO_NEGOTIATES
                  - 507 INSUFFICIENT_STORAGE
                  - 508 LOOP_DETECTED
                  - 509 BANDWIDTH_LIMIT_EXCEEDED
                  - 510 NOT_EXTENDED
                  - 511 NETWORK_AUTHENTICATION_REQUIRED
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /heartbeat/aws/s3:
    get:
      tags:
        - heartbeat-controller
      operationId: getAWSS3Status
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                  - 100 CONTINUE
                  - 101 SWITCHING_PROTOCOLS
                  - 102 PROCESSING
                  - 103 CHECKPOINT
                  - 200 OK
                  - 201 CREATED
                  - 202 ACCEPTED
                  - 203 NON_AUTHORITATIVE_INFORMATION
                  - 204 NO_CONTENT
                  - 205 RESET_CONTENT
                  - 206 PARTIAL_CONTENT
                  - 207 MULTI_STATUS
                  - 208 ALREADY_REPORTED
                  - 226 IM_USED
                  - 300 MULTIPLE_CHOICES
                  - 301 MOVED_PERMANENTLY
                  - 302 FOUND
                  - 302 MOVED_TEMPORARILY
                  - 303 SEE_OTHER
                  - 304 NOT_MODIFIED
                  - 305 USE_PROXY
                  - 307 TEMPORARY_REDIRECT
                  - 308 PERMANENT_REDIRECT
                  - 400 BAD_REQUEST
                  - 401 UNAUTHORIZED
                  - 402 PAYMENT_REQUIRED
                  - 403 FORBIDDEN
                  - 404 NOT_FOUND
                  - 405 METHOD_NOT_ALLOWED
                  - 406 NOT_ACCEPTABLE
                  - 407 PROXY_AUTHENTICATION_REQUIRED
                  - 408 REQUEST_TIMEOUT
                  - 409 CONFLICT
                  - 410 GONE
                  - 411 LENGTH_REQUIRED
                  - 412 PRECONDITION_FAILED
                  - 413 PAYLOAD_TOO_LARGE
                  - 413 REQUEST_ENTITY_TOO_LARGE
                  - 414 URI_TOO_LONG
                  - 414 REQUEST_URI_TOO_LONG
                  - 415 UNSUPPORTED_MEDIA_TYPE
                  - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                  - 417 EXPECTATION_FAILED
                  - 418 I_AM_A_TEAPOT
                  - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                  - 420 METHOD_FAILURE
                  - 421 DESTINATION_LOCKED
                  - 422 UNPROCESSABLE_ENTITY
                  - 423 LOCKED
                  - 424 FAILED_DEPENDENCY
                  - 425 TOO_EARLY
                  - 426 UPGRADE_REQUIRED
                  - 428 PRECONDITION_REQUIRED
                  - 429 TOO_MANY_REQUESTS
                  - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                  - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                  - 500 INTERNAL_SERVER_ERROR
                  - 501 NOT_IMPLEMENTED
                  - 502 BAD_GATEWAY
                  - 503 SERVICE_UNAVAILABLE
                  - 504 GATEWAY_TIMEOUT
                  - 505 HTTP_VERSION_NOT_SUPPORTED
                  - 506 VARIANT_ALSO_NEGOTIATES
                  - 507 INSUFFICIENT_STORAGE
                  - 508 LOOP_DETECTED
                  - 509 BANDWIDTH_LIMIT_EXCEEDED
                  - 510 NOT_EXTENDED
                  - 511 NETWORK_AUTHENTICATION_REQUIRED
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
  /heartbeat/app:
    get:
      tags:
        - heartbeat-controller
      operationId: getApplicationStatus
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: string
                enum:
                  - 100 CONTINUE
                  - 101 SWITCHING_PROTOCOLS
                  - 102 PROCESSING
                  - 103 CHECKPOINT
                  - 200 OK
                  - 201 CREATED
                  - 202 ACCEPTED
                  - 203 NON_AUTHORITATIVE_INFORMATION
                  - 204 NO_CONTENT
                  - 205 RESET_CONTENT
                  - 206 PARTIAL_CONTENT
                  - 207 MULTI_STATUS
                  - 208 ALREADY_REPORTED
                  - 226 IM_USED
                  - 300 MULTIPLE_CHOICES
                  - 301 MOVED_PERMANENTLY
                  - 302 FOUND
                  - 302 MOVED_TEMPORARILY
                  - 303 SEE_OTHER
                  - 304 NOT_MODIFIED
                  - 305 USE_PROXY
                  - 307 TEMPORARY_REDIRECT
                  - 308 PERMANENT_REDIRECT
                  - 400 BAD_REQUEST
                  - 401 UNAUTHORIZED
                  - 402 PAYMENT_REQUIRED
                  - 403 FORBIDDEN
                  - 404 NOT_FOUND
                  - 405 METHOD_NOT_ALLOWED
                  - 406 NOT_ACCEPTABLE
                  - 407 PROXY_AUTHENTICATION_REQUIRED
                  - 408 REQUEST_TIMEOUT
                  - 409 CONFLICT
                  - 410 GONE
                  - 411 LENGTH_REQUIRED
                  - 412 PRECONDITION_FAILED
                  - 413 PAYLOAD_TOO_LARGE
                  - 413 REQUEST_ENTITY_TOO_LARGE
                  - 414 URI_TOO_LONG
                  - 414 REQUEST_URI_TOO_LONG
                  - 415 UNSUPPORTED_MEDIA_TYPE
                  - 416 REQUESTED_RANGE_NOT_SATISFIABLE
                  - 417 EXPECTATION_FAILED
                  - 418 I_AM_A_TEAPOT
                  - 419 INSUFFICIENT_SPACE_ON_RESOURCE
                  - 420 METHOD_FAILURE
                  - 421 DESTINATION_LOCKED
                  - 422 UNPROCESSABLE_ENTITY
                  - 423 LOCKED
                  - 424 FAILED_DEPENDENCY
                  - 425 TOO_EARLY
                  - 426 UPGRADE_REQUIRED
                  - 428 PRECONDITION_REQUIRED
                  - 429 TOO_MANY_REQUESTS
                  - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
                  - 451 UNAVAILABLE_FOR_LEGAL_REASONS
                  - 500 INTERNAL_SERVER_ERROR
                  - 501 NOT_IMPLEMENTED
                  - 502 BAD_GATEWAY
                  - 503 SERVICE_UNAVAILABLE
                  - 504 GATEWAY_TIMEOUT
                  - 505 HTTP_VERSION_NOT_SUPPORTED
                  - 506 VARIANT_ALSO_NEGOTIATES
                  - 507 INSUFFICIENT_STORAGE
                  - 508 LOOP_DETECTED
                  - 509 BANDWIDTH_LIMIT_EXCEEDED
                  - 510 NOT_EXTENDED
                  - 511 NETWORK_AUTHENTICATION_REQUIRED
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
        '501':
          description: Not Implemented
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SubawardsAPIResponseDto'
components:
  schemas:
    SubawardsAPIResponseDto:
      type: object
      properties:
        id:
          type: string
        statusCode:
          type: string
        transactionId:
          type: string
        timeStamp:
          type: string
        subawardReportNumber:
          type: string
        reportStatus:
          type: string
        message:
          type: object
        errors:
          uniqueItems: true
          type: array
          items:
            type: string
    Address:
      type: object
      properties:
        street_address:
          type: string
        street_address2:
          type: string
        city:
          type: string
        country:
          $ref: '#/components/schemas/Country'
        stateOrProvince:
          $ref: '#/components/schemas/StateOrProvince'
        zipPlus4:
          type: string
        congressional_district:
          type: string
        zip:
          type: string
    Country:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
    RecoveryModelQuestions:
      type: object
      properties:
        code:
          type: string
        isSelected:
          type: string
          enum:
            - 'true'
            - 'false'
            - ''
    StateOrProvince:
      type: object
      properties:
        code:
          type: string
        name:
          type: string
    SubawardData:
      type: object
      properties:
        subawardReportNumber:
          type: string
        submittedDate:
          type: string
        entityStatus:
          type: string
        subawardUEI:
          type: string
        subawardNumber:
          type: string
        subawardAmount:
          type: string
        subawardDate:
          type: string
        subawardDescription:
          type: string
        placeOfPerformance:
          $ref: '#/components/schemas/Address'
        recoveryModelQuestions:
          type: array
          items:
            $ref: '#/components/schemas/RecoveryModelQuestions'
        topPayEmployees:
          type: array
          items:
            $ref: '#/components/schemas/TopPayEmployees'
    TopPayEmployees:
      type: object
      properties:
        full_name:
          type: string
        salary:
          type: string
    UpdateContractContractData:
      type: object
      properties:
        contractNumber:
          type: string
        reportingAgencyCode:
          type: string
        idvReferenceNumber:
          type: string
        referenceAgencyCode:
          type: string
        programTitle:
          type: string
        reportStatus:
          type: string
        subawardData:
          $ref: '#/components/schemas/SubawardData'
    UpdateContractRequestObjectDto:
      type: object
      properties:
        contractData:
          $ref: '#/components/schemas/UpdateContractContractData'
    UpdateGrantGrantData:
      type: object
      properties:
        fain:
          type: string
        agencyCode:
          type: string
        reportStatus:
          type: string
        subawardData:
          $ref: '#/components/schemas/SubawardData'
    UpdateGrantRequestObjectDto:
      type: object
      properties:
        assistanceData:
          $ref: '#/components/schemas/UpdateGrantGrantData'
    CreateContractContractData:
      type: object
      properties:
        contractNumber:
          type: string
        reportingAgencyCode:
          type: string
        idvReferenceNumber:
          type: string
        referenceAgencyCode:
          type: string
        programTitle:
          type: string
        reportStatus:
          type: string
        subawardDataList:
          type: array
          items:
            $ref: '#/components/schemas/SubawardData'
    CreateContractRequestObjectDto:
      type: object
      properties:
        contractData:
          type: array
          items:
            $ref: '#/components/schemas/CreateContractContractData'
    CreateGrantGrantData:
      type: object
      properties:
        fain:
          type: string
        agencyCode:
          type: string
        reportStatus:
          type: string
        subawardDataList:
          type: array
          items:
            $ref: '#/components/schemas/SubawardData'
    CreateGrantRequestObjectDto:
      type: object
      properties:
        assistanceData:
          type: array
          items:
            $ref: '#/components/schemas/CreateGrantGrantData'
