openapi: 3.0.0
info:
  title: "GSA Content API"
  description: >-
    The GSA.gov content API is an XML feed which supplies the public with a means to extract data out of the GSA.gov website. When the API returns multiple content items, it list them with the newest item(s) first, and oldest last.
  version: 2.0.0
paths:
  /v2/by-type/{contentType}/{page}:
    get:
      summary: "Get content from GSA.gov based on content-type"
      description: "Get content from GSA.gov based on content-type"
      parameters:
      - name: "contentType"
        in: "path"
        description: "The machine-name of the desired content-type to filter by"
        required: true
        schema:
          type: string
          format: string
      - name: "page"
        in: "path"
        description: "Pagination controle"
        required: true
        schema:
          type: integer
          format: ineger
      responses:
        200:
          description: "successful operation"
  /v2/by-id/{nodeID}/{page}:
    get:
      summary: "Get content from GSA.gov based on Node ID"
      description: "Get content from GSA.gov based on Node ID"
      parameters:
      - name: "nodeID"
        in: "path"
        description: "Node ID number"
        required: true
        schema:
          type: integer
          format: integer
      - name: "page"
        in: "path"
        description: "Pagination control"
        required: true
        schema:
          type: integer
          format: integer
      responses:
        200:
          description: "successful operation"
servers:
  - url: 'https://api.gsa.gov/technology/gsa-content'
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: header       # can be "header", "query" or "cookie"
      name: X-API-KEY  # name of the header, query parameter or cookie
security:
  - ApiKeyAuth: []  
