<div class="preview-card">
    <div class="card-content">
        <div class="usa-grid">
            <h4>FedBizOpps</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
        </div>
        <div class="usa-grid" style="margin-top: 20px">
           <div class="usa-width-one-third">
               <i class="fa fa-clock-o" aria-hidden="true"></i>
               <p style="margin-top: 0px;">123</p>
           </div>
           <div class="usa-width-one-third">
               <i class="fa fa-code-fork" aria-hidden="true"></i>
               <p style="margin-top: 0px;">4</p>
           </div>
           <div class="usa-width-one-third">
               <i class="fa fa-users" aria-hidden="true"></i>
               <p style="margin-top: 0px;">2</p>
           </div>
        </div>
        <div class="usa-grid" style="margin-top: 20px">
           <div class="usa-width-one-whole">
               <button href="#" style="margin-top: 5px;
          margin-bottom: 5px;
          width: 100%;">Documentation</button>
               <button class="usa-button-active" href="#" style="margin-top: 5px;
          margin-bottom: 5px;
          width: 100%;">Repository</button>
           </div>
        </div>
    </div>
</div>
