<div class="preview-card">
    <div class="card-content">
        <div class="usa-grid">
            <h4>Rural Housing Data</h4>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat </p>
        </div>
        <div class="usa-grid" style="margin-top: 20px">
           <div class="usa-width-one-half">
               <i class="fa fa-eye" aria-hidden="true"></i>
               <p style="margin-top: 0px;">2034</p>
           </div>
           <div class="usa-width-one-half">
               <i class="fa fa-download" aria-hidden="true"></i>
               <p style="margin-top: 0px;">4</p>
           </div>
        </div>
        <div class="usa-grid" style="margin-top: 20px">
           <div class="usa-width-one-whole">
               <button href="#" style="margin-top: 5px;
          margin-bottom: 5px;
          width: 100%;">Get Data</button>
           </div>
        </div>
    </div>
</div>