 {% for event in site.data.events %} {% if event.featured %}
<section>
    <div class="usa-grid-full" align="center">
        <h2>Featured Event</h2>
        <div class="usa-width-full">

            <article class="card card-featured">
                <div class="thumb" style="background-image: url({{ event.image | prepend: site.baseurl }});"></div>
                <div class="infos">
                    <h3 class="title">{{ event.title }}</h3>
                    <h4 class="date">{{ event.date }}</h4>
                    <p class="location">{{ event.location }}</p>
                    <p class="txt">
                        {{ event.txt }}...
                    </p>
                    <a href={{ event.link | prepend: site.baseurl }} class="details">event details</a>
                </div>
            </article>
        </div>
        {% endif %} {% endfor %}
    </div>
</section>
