  <footer class="usa-identifier usa-footer usa-background-dark">
    <div class="usa-grid">
      <nav aria-label="footer navigation">
        <div class="usa-width-one-whole" style="margin-bottom: 1em; color: white;">
          <div>open.gsa.gov / GSA Office of Office of Enterprise Data & Privacy Management</div>
          <div style="font-weight: bold;">An official website of the U.S. General Services Administration</div>
        </div>
        <div class="usa-width-one-fourth">
          <ul class="usa-unstyled-list">
            <li><a href="https://www.gsa.gov/about-us">About us</a></li>
            <li><a href="https://www.gsa.gov/website-information/accessibility-aids">Accessibility support</a></li>
          </ul>
        </div>
        <div class="usa-width-one-fourth">
          <ul class="usa-unstyled-list">
            <li><a href="https://www.gsa.gov/reference/freedom-of-information-act-foia">FOIA requests</a></li>
            <li><a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002">No FEAR Act data</a></li>
          </ul>
        </div>
        <div class="usa-width-one-fourth">
          <ul class="usa-unstyled-list">
            <li><a href="https://www.gsaig.gov/">Office of the Inspector General</a></li>
            <li><a href="https://www.gsa.gov/reference/reports/budget-performance">Performance reports</a></li>
          </ul>
        </div>
        <div class="usa-width-one-fourth">
          <ul class="usa-unstyled-list">
            <li><a href="https://www.gsa.gov/website-information/website-policies">Privacy policy</a></li>
            <li><a href="{{ '/contact' | prepend: site.baseurl }}">Contact us</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
