<div class="skip-nav">
    <a href="#main" class="skips">Skip to main content</a>
</div>

<header class="usa-header usa-header-extended" role="banner">
  <!-- Gov banner BEGIN -->
<div class="usa-banner">
<div class="usa-accordion">
  <header class="usa-banner-header">
    <div class="usa-grid usa-banner-inner">
    <img src="{{ site.baseurl }}/assets/uswds/img/favicons/favicon-57.png" alt="U.S. flag">
    <p>An official website of the United States government</p>
    <button class="usa-accordion-button usa-banner-button"
      aria-expanded="false" aria-controls="gov-banner">
      <span class="usa-banner-button-text">Here's how you know</span>
    </button>
    </div>
  </header>
  <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
    <div class="usa-banner-guidance-gov usa-width-one-half">
      <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/assets/uswds/img/icon-dot-gov.svg" alt="Dot gov">
      <div class="usa-media_block-body">
        <p>
          <strong>The .gov means it’s official.</strong>
          <br>
          Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
        </p>
      </div>
    </div>
    <div class="usa-banner-guidance-ssl usa-width-one-half">
      <img class="usa-banner-icon usa-media_block-img" src="{{ site.baseurl }}/assets/uswds/img/icon-https.svg" alt="SSL">
      <div class="usa-media_block-body">
        <p>This site is also protected by an SSL (Secure Sockets Layer) certificate that’s been signed by the U.S. government. The <strong>https://</strong> means all transmitted data is encrypted  — in other words, any information or browsing history that you provide is transmitted securely.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Gov banner END -->
    <nav class="usa-site-navbar">
                    <div class="usa-grid top-nav">
                        <div id="logo">
                            <a href="{{ site.baseurl }}/" accesskey="1" title="Home" aria-label="Home">
          {% if site.logo %}
            <img class="header-logo" src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
          {% else %}
            <h1 class="usa-header-title">{{ site.title }}</h1>
          {% endif %}
        </a>
                        </div>
                        <ul class="usa-nav-list usa-unstyled-list">
                          <li class="usa-menu-item"><a href="{{ site.baseurl }}/search"> <i class="fa fa-search"></i> Search</a></li>
                          <li class="usa-menu-item"><a href="{{ '/data' | prepend: site.baseurl }}">Data</a></li>
                          <li class="usa-menu-item"><a href="{{ '/api' | prepend: site.baseurl }}">APIs</a></li>
                          <li class="usa-menu-item"><a href="{{ '/code' | prepend: site.baseurl }}">Code</a></li>
                          <li class="usa-menu-item"><a href="{{ '/events' | prepend: site.baseurl }}">Events</a></li>
                        </ul>
                        <!-- <ul class="usa-nav-list usa-unstyled-list">
                          <li class="usa-menu-item"><a href="{{ site.baseurl }}/search"> <i class="fa fa-search"></i> Search</a></li>
                            {% assign navs = site.data.navbar.assigned %} {% for nav in navs %} {% if nav.show_in_menu %}
                            <li class="usa-menu-item">
                                <a href="{{ nav.permalink | prepend: site.baseurl }}">{{ nav.text }}</a>
                            </li>
                            {% endif %} {% endfor %}
                            </ul> -->
                        </ul>

                    </div>
        <br/>

    </nav>
</header>
