<!--Commenting out per the USWDS spec
<script src="{{ '/assets/js/lib/jquery-1.11.3.min.js' | prepend: site.baseurl  }}"></script>
-->
<script src="{{ '/assets/js/index.js' | prepend: site.baseurl  }}"></script>
<script src="{{ '/assets/uswds/js/uswds.js' | prepend: site.baseurl  }}"></script>


<!--
  analytics for DAP, for more info visit
  https://www.digitalgov.gov/services/dap/
-->
<script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency={{ site.analytics.dap.agency}}&subagency={{ site.analytics.dap.subagency }}" id="_fed_an_ua_tag"></script>
