<!--Commenting out per the USWDS spec
<script src="{{ '/assets/js/lib/jquery-1.11.3.min.js' | prepend: site.baseurl  }}"></script>
-->
<script async src="{{ '/assets/js/index.js' | prepend: site.baseurl  }}"></script>
<script async src="{{ '/assets/uswds/js/uswds.js' | prepend: site.baseurl  }}"></script>
<script async src="https://use.fontawesome.com/bc43477a9b.js"></script>
<!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
<script async type="text/javascript" src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=GSA&subagency=CTO&sitetopic=IT&sp=term&dclink=true&enhlink=true&cto=12" id="_fed_an_ua_tag"></script>
