        <div class="usa-grid">
            <div class="usa-width-full">
                <h2>{{ page.hero-text }}</h2>
                <form class="usa-search usa-search-big" action="{{ '/search' | prepend: site.baseurl }}" method="get">
                    <div role="search">
                        <label class="usa-sr-only" for="search-field">Search</label>
                        <input id="search-field" type="search" name="search">
                        <button type="submit">
                          <span class="usa-search-submit-text">Search</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
