/* swagger specific formatting */
@media (width >= 600px) {
.sidebar-sticky {
  position: sticky;
  top: 0;
}
}

.swagger-ui .topbar {
  display: none !important;
}

section.swagger-ui, section .swagger-ui section {
  padding: 0;
}
