.banner.tagline {
  background-color: $banner-background-color;
}

.banner.tagline p {
  color: $banner-text-color;
  margin-bottom: 75px;
}
.banner.tagline h2 {
  color: $banner-text-color;
  margin-top: 75px;
}

.banner.roles {
  background-color: #e4e2e0;
}
.banner.roles .usa-grid {
  padding: 3rem;
}
.banner.roles p {
  color: #323a45;
  margin-bottom: 75px;
}
.banner.roles h2 {
  color: #323a45;
  margin-top: 75px;
  text-align: center;
}

.banner.contact {
  background-color: #112e51;
}
.banner.contact form {
  padding-top: 2em;
}
.banner.contact h2,
.banner.contact p,
.banner.contact legend,
.banner.contact label,
.banner.contact a,
.banner.contact a:hover,
.banner.contact a:visited {
  color: #fff;
}

.banner .usa-button,
.banner .usa-button-primary,
.banner .usa-button:visited,
.banner .usa-button-primary:visited,
.banner button,
.banner [type="button"],
.banner [type="submit"],
.banner [type="reset"] {
  background-color: $banner-button-color;
  color: $banner-button-text-color;
}
