$host:'http://s3-us-west-2.amazonaws.com/s.cdpn.io/397014/';

$big-stone:#152536;
$white:#fff;
$smalt-blue:#4e958b;
$maroon-flush:#C32361;
$black:#000;
$lite-grey:rgba($black, .2);
$lite-big-stone:rgba($big-stone, .7);

$card-width:300px;
$card-height:400px;

$thumb-height:260px;

$border-radius:3px;
$box-shadow:0 1px 4px rgba($black, .3);
$transition: cubic-bezier(.17,.67,.5,1.03);
$timing-1:.4s .15s;
$timing-2:.5s .25s;

$grotesque-black:'Grotesque Black', sans-serif;
$grotesque-regular:'Grotesque', sans-serif;
$merriweather:'Merriweather', sans-serif;

$new-york-city:'#{$host}new-york-city.png';
$flag:'#{$host}flag.png';

@mixin pos($pos, $left:null, $top:null, $right:null, $bottom:null) {
	position:$pos;
	left:$left;
	@if $top { top: $top; }
	@if $left { left: $left; }
	@if $right { right: $right; }
	@if $bottom { bottom: $bottom; }
}

@mixin size($width, $height) {
	width:$width;
	height:$height;
}


article.card {

	@include size($card-width, $card-height);
	// transform:translate(-50%, -50%) translateZ(0);
  text-align:left;
	border-radius:$border-radius;
  margin: 10px;
	box-shadow:$box-shadow;
	overflow:hidden;
	.thumb {
		@include size(auto, $thumb-height);
		background: no-repeat center;
		background-size:cover;
		border-radius:$border-radius;
	}
	.infos {
		@include size(auto, $card-height);
		position:relative;
		padding:14px 24px;
		background:$white;
		transition:$timing-1 $transition;
		.title {
			position:relative;
			margin: 10px 0;
			letter-spacing: 3px;
			color:$big-stone;
			font-family: $grotesque-black;
			// font-size: 1rem;
			text-transform: uppercase;
			text-shadow: 0 0 0px lighten($big-stone, 20);
		}
		.event-flag {
			@include pos(absolute, $top:50%, $right: 0);
			transform:translateY(-50%);
			@include size(35px, 23px);
			background:url($flag) no-repeat top right;
			background-size:100% auto;
			display:inline-block;
		}
		.date, .location {
			margin-bottom: 5px;
			text-transform: uppercase;
			// font-size: .85rem;
			color:$lite-big-stone;
			font-family: $grotesque-regular;
		}
		.location {
			display:inline-block;
      margin-top: 1px;
			margin-bottom: 5px;
			padding-bottom:10px;
			border-bottom:1px solid $lite-grey;
			opacity:0;
			transition:$timing-2 $transition;
		}
		.txt {
			font-family: $merriweather;
			line-height: 2;
			// font-size: .95rem;
			color:$lite-big-stone;
			opacity:0;
			transition:$timing-2 $transition;
		}
		.details {
			@include pos(absolute, $left:0, $bottom:0);
			margin: 10px 0;
			padding:20px 24px;
			letter-spacing: 1px;
			color:$smalt-blue;
			font-family: $grotesque-black;
			// font-size: .9rem;
			text-transform: uppercase;
			text-decoration: none;
			cursor:pointer;
			opacity:0;
			transition:$timing-2 $transition;
		}
	}
	&:hover .infos {
		transform:translateY(-$thumb-height);
		.location, .txt, .details {
			opacity:1;
		}
	}
}
