
.usa-footer-secondary_section {
  background-color: $footer-background-color;
}
footer p,
footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
footer a,
footer a:hover,
footer a:visited {
  color: $footer-text-color;
}
.usa-footer-secondary_section a {
  color: #fff;
}

.usa-footer {
    padding: 1em;
  @media screen and (min-width: 1200px){
    padding: 3em 0;
    width:100%;
    height:200px;
    position:absolute;
    bottom:0;
    left:0;
  }
}

.usa-footer-logo p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
}

.usa-footer-logo .logo {
  width: auto;
  height: 90px;
}
