.hero-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-height: 30vh;
  position: relative;
}
.hero-search {
  // background-color: rgba(46, 133, 64, 0.7);
  bottom: 25px;
  left: 50%;
  margin-left: -30%;
  padding-top: 20px;
  position: absolute;
  text-align: center;
}
.hero-search h2 {
  font-family: "Source Sans Pro";
  color: white;
  font-size: 50px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.hero-search .usa-search.usa-search-big [type="search"], .hero-search .usa-search.usa-search-big .usa-search-input {
  border-color: #ccc;
  border-radius: 3px 0 0 3px;
  max-width: 100%;
}

//angled header
.hero-separator {
  position: absolute;
  margin-top: -300px;
	width: 0;
	height: 0;
  border-top: 300px solid transparent;
  border-right: 100vw solid #112e51;
  border-bottom: 0 solid transparent;
  border-left: 70vw solid transparent;

}
