.center-content {
  text-align: center;
}

/* Role display for personas */
  .role {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 15vw 4vw;
  }

  .role-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 1em;
    align-items: center;
  }

/* Functional display (data, apis, code) */
  .function {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 0 15vw;
  }

  .function-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  section {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .section-top {
    padding-top: 0;
  }

.usa-site-header {
  position: absolute;
  min-width: 100vw;
  z-index: 111;
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background: rgba(255,255,255,.4);

}

.top-nav {
  z-index: 111;
}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

    .circle {
      background-color: #e31c3d;
      padding: 0 2em 1em 2em;
      border-radius: 50%;
      // position: absolute;
      margin-top: -50px;
      width: 105px;
      height: 105px;
    }

      .circle:before {
        font-size: 4em;
        line-height: 2em;
        color: #fff;
        position: relative;
        top: -20px;
        right: 8px;
      }


		.flag {
      position: relative;
			display: inline-block;
			background-color: #e31c3d;
			padding: 0 2em 1em 2em;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			margin: 0 0 4.5em 0;
		}

			.flag:before {
        font-size: 5em;
				line-height: 2em;
				color: #fff;
			}

			.flag:after {
			        content: "";
			        position: absolute;
			        left: 0;
			        bottom: 0;
			        width: 0;
			        height: 0;
			        border-bottom: 13px solid #fff;
			        border-left: 83px solid transparent;
			        border-right: 83px solid transparent;
			}

			.flag.alt {
				background-color: #323a45;
			}

				.flag.alt:after {
					border-top-color: #323a45;
				}

			.flag.alt2 {
				background-color: #aeb0b5;
			}

				.flag.alt2:after {
					border-top-color: #aeb0b5;
				}
