.sidenav {
  margin-top: 2em;
  min-height: 30em;
}
.usa-width-three-fourths > h1 {
  margin-top: 0;
}
.usa-sidenav-list li:first-child {
  border-top: 0;
}
.usa-sidenav-list a {
  color: $text-color;
  font-family: 'Lato', sans-serif;
}
.usa-sidenav-list a.usa-current-page {
  border-color: $text-color;
  color: $text-color;
  font-weight: 400;
}
.usa-sidenav-list a:hover {
  color: $text-color;
}

@media (min-width: 600px) {
  .usa-width-three-fourths.usa-content {
    padding-left: 1.3em;
  }
}

