
{  
   "swagger":"2.0",
   "info":{  
      "description":"These RESTFUL endpoints are to retrieve Awards data service detail information",
      "version":"1.0",
      "title":"Awards Data Service API",
      "license":{  

      }
   },
   "host":"api-alpha.sam.gov",
   "basePath":"/prodlike",
   "tags":[  
      {  
         "name":"Awards Data Service",
         "description":"Awards Data service Operations"
      },
      {  
         "name":"basic-error-controller",
         "description":"Basic Error Controller"
      }
   ],
   "paths":{  
      "/contractdata-api":{  
         "get":{  
            "tags":[  
               "Awards Data Service"
            ],
            "summary":"Awards Details",
            "operationId":"getAwardsDataDetailsUsingGET",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/hal+json"
            ],
            "parameters":[  
               {
                  "name":"api_key",
                  "in":"query",
                  "description":"API KEY",
                  "required":true,
                  "type":"string"
               },
               {  
                  "name":"lastModifiedDate",
                  "in":"query",
                  "description":"Last modified date Range (max of 5 yrs range). Format: MM/dd/yyyy",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"contractingAgencyId",
                  "in":"query",
                  "description":"Contracting Agency ID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"piid",
                  "in":"query",
                  "description":"Procurement Identifier",
                  "required":false,
                  "type":"string"
               },
               {
	            "name": "referenceIdvPiid",
	            "in": "query",
	            "description": "Referenced IDV PIID. This is required field. If no value passed, default value is EMPTY string",
	            "required": false,
	            "type": "string"
         	   },
               {  
                  "name":"agencyId",
                  "in":"query",
                  "description":"Agency ID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"modificationNumber",
                  "in":"query",
                  "description":"Modification Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"referenceAgencyId",
                  "in":"query",
                  "description":"Referenced IDV Agency ID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"dateSigned",
                  "in":"query",
                  "description":"Date Signed Range (Max of 5 years Range). Format: MM/dd/yyyy",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"contractingOfficeId",
                  "in":"query",
                  "description":"Contracting Office ID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorDuns",
                  "in":"query",
                  "description":"9 digit Vendor DUNS",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"naicsCode",
                  "in":"query",
                  "description":"6 digit NAICS Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"page",
                  "in":"query",
                  "description":"Page number for paginated results",
                  "required":false,
                  "type":"integer",
                  "default":0,
                  "format":"int32"
               },
               {  
                  "name":"size",
                  "in":"query",
                  "description":"Page size (default is 10)",
                  "required":false,
                  "type":"integer",
                  "default":10,
                  "format":"int32"
               },
               {               
                  "name":"docType",
                  "in":"query",
                  "description":"Document Type",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"piidAgencyName",
                  "in":"query",
                  "description":"The complete Agency Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"transactionNumber",
                  "in":"query",
                  "description":"A valid complete Transaction Number",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"reasonForModification",
                  "in":"query",
                  "description":"A valid one character Code for Reason Modification",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonForModificationDesc",
                  "in":"query",
                  "description":"The complete value of Reason For Modification Description",
                  "required":false,
                  "type":"string"
               },
               {
	              "name": "refIdvAgencyName",
	              "in": "query",
	              "description":"The complete name refIdvAgencyName",
                  "required":false,
                  "type":"string"
         	   },
               {  
                  "name":"referenceModificationNumber",
                  "in":"query",
                  "description":"A valid complete value of Reference Modification Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"solicitationId",
                  "in":"query",
                  "description":"A valid complete value solicitationId",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"version",
                  "in":"query",
                  "description":"A valid Document Version",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldAgencyCode",
                  "in":"query",
                  "description":"A valid four character other AgencyID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldAgencyName",
                  "in":"query",
                  "description":"The complete other AgencyName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldPiid",
                  "in":"query",
                  "description":"A valid complete value of other PIID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldModificationNumber",
                  "in":"query",
                  "description":"A valid complete value of other Modification Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldTransactionNumber",
                  "in":"query",
                  "description":"A valid complete value of other Transaction Number",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"oldIdvAgencyCode",
                  "in":"query",
                  "description":"A valid four character Other RferencedIDV AgencyID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldIdvAgencyName",
                  "in":"query",
                  "description":"The complete Other RferencedIDV AgencyName",
                  "required":false,
                  "type":"string"
               },
			   { 
				  "name":"oldIdvPiid",
                  "in":"query",
                  "description":"A valid complete value other ReferencedIDV PIID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"oldIdvModificationNumber",
                  "in":"query",
                  "description":"A valid complete value other ReferencedIDV Modification Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"effectiveDate",
                  "in":"query",
                  "description":"Effective Date. Format: MM/DD/YYYY",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"currentCompletionDate",
                  "in":"query",
                  "description":"Completion Date. Format: MM/DD/YYYY",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"ultimateCompletionDate",
                  "in":"query",
                  "description":"Estimated Ultimate Completion Date. Format:MM/DD/YYYY",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {
	              "name":"idvLastDate",
	              "in": "query",
	              "description":"last Date ToOrder. Format:MM/DD/YYYY",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
         	   },
               {  
                  "name":"fiscalYear",
                  "in":"query",
                  "description":"Fiscal Year. Format:YYYY",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"solicitationDate",
                  "in":"query",
                  "description":"solicitation Date. Format:MM/DD/YYYY",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"dollarsObligated",
                  "in":"query",
                  "description":"Action Obligation",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"currentContractValue",
                  "in":"query",
                  "description":"Base And Excercised OptionsValue",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"ultimateContractValue",
                  "in":"query",
                  "description":"Base And AllOptionsValue",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"totalDollarsObligated",
                  "in":"query",
                  "description":"Total Action Obligation",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"totalCurrentContractValue",
                  "in":"query",
                  "description":"Total Base And Excercised OptionsValue",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"totalUltimateContractValue",
                  "in":"query",
                  "description":"Total Base And AllOptionsValue",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"feePaidForUseOfService",
                  "in":"query",
                  "description":"Fee Paid For Use Of IDV",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"nonGovernmentValue",
                  "in":"query",
                  "description":"Non Government Dollars",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"totalNonGovernmentValue",
                  "in":"query",
                  "description":"Total Non Government Dollars",
                  "required":false,
                  "type":"int32"
               },
			   {  
				  "name":"departmentId",
                  "in":"query",
                  "description":"A Valid Four Character Value Of DepartmentId",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"departmentName",
                  "in":"query",
                  "description":"The Complete Value Of DepartmentName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractingAgencyName",
                  "in":"query",
                  "description":"Contracting Office AgencyName",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractingOfficeName",
                  "in":"query",
                  "description":"Contracting Office Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fundingAgencyCode",
                  "in":"query",
                  "description":"A Valid Four Character Value Of Funding Agency ID",
                  "required":false,
                  "type":"string"
               },
               {
	              "name": "fundingAgencyName",
	              "in": "query",
	              "description":"Funding Agency Name",
                  "required":false,
                  "type":"string"
         	   },
               {  
                  "name":"fundingOfficeCode",
                  "in":"query",
                  "description":"A Valid Value Of Funding Office ID",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fundingOfficeName",
                  "in":"query",
                  "description":"Funding Office Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractForForeignEntity",
                  "in":"query",
                  "description":"Foreign Funding Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"foreignFundingDesc",
                  "in":"query",
                  "description":"Foreign Funding Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"urlOfProgram",
                  "in":"query",
                  "description":"WebsiteURL",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"whoCanUse",
                  "in":"query",
                  "description":"Who Can Use Short Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"whoCanUseDesc",
                  "in":"query",
                  "description":"Who Can Use Large Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"emailAddress",
                  "in":"query",
                  "description":"EmailAddress",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"individualOrderCallLimit",
                  "in":"query",
                  "description":"Individual Order / Call Limit",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"typeOfFeeForUseOfService",
                  "in":"query",
                  "description":"Type Of Fee For Use Of Service",
                  "required":false,
                  "type":"string"
               },{               
                  "name":"fixedFeeValue",
				  "in":"query",
                  "description":"Fixed Fee Value",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"feeRangeLowerValue",
                  "in":"query",
                  "description":"Fee Range Lower Value",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"feeRangeUpperValue",
                  "in":"query",
                  "description":"Fee Range Upper Value",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"orderingProcedure",
                  "in":"query",
                  "description":"Ordering Procedure",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractTypeDesc",
                  "in":"query",
                  "description":"Contract Action Type",
                  "required":false,
                  "type":"string"
               },
               {
	              "name":"part8OrPart13",
	              "in": "query",
	              "description":"Part8 or Part13",
                  "required":false,
                  "type":"string"
         	   },
               {  
                  "name":"typeOfContractPricing",
                  "in":"query",
                  "description":"Type Of Contract Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"tocpShortDescription",
                  "in":"query",
                  "description":"Type Of Contract Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"majorProgramCode",
                  "in":"query",
                  "description":"Major Program Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nationalInterestCode",
                  "in":"query",
                  "description":"National Interest Action Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nationalInterestDescription",
                  "in":"query",
                  "description":"National Interest Action Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"costOrPricingDataCode",
                  "in":"query",
                  "description":"Cost Or Pricing Data Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"costOrPricingDataDesc",
                  "in":"query",
                  "description":"Cost Or Pricing Data Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"costAcctStandards",
                  "in":"query",
                  "description":"Cost Accounting Standards Clause Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"casClauseDesc",
                  "in":"query",
                  "description":"Cost Accounting Standards Clause Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"descriptionOfRequirement",
                  "in":"query",
                  "description":"Description Of Contract Requirement",
                  "required":false,
                  "type":"string"
               },
			   {               
                  "name":"gfeGfp",
                  "in":"query",
                  "description":"GFP Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"gfeGfpDesc",
                  "in":"query",
                  "description":"gfp Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"seaTransportationCode",
                  "in":"query",
                  "description":"Sea Transportation Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"seaTransportationDesc",
                  "in":"query",
                  "description":"Sea Transportation Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"undefinitizedAction",
                  "in":"query",
                  "description":"Undefinitized Action Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"undefinitizedActionDesc",
                  "in":"query",
                  "description":"Undefinitized Action Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"consolidatedContract",
                  "in":"query",
                  "description":"Consolidated Contract Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"consolidatedContractDesc",
                  "in":"query",
                  "description":"Consolidated Contract Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"performBasedServiceContract",
                  "in":"query",
                  "description":"Performance Based Service Acquisition Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"pbscShortDescription",
                  "in":"query",
                  "description":"Performance Based Service Acquisition Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"multiyearContract",
                  "in":"query",
                  "description":"Multi Year Contract Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"multiyearContractDesc",
                  "in":"query",
                  "description":"Multi Year Contract Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"agencyIdentifier",
                  "in":"query",
                  "description":"Treasury Account Symbol Agency Identifier",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mainAccountCode",
                  "in":"query",
                  "description":"Treasury Account Symbol Agency Main Account",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"subAccountCode",
                  "in":"query",
                  "description":"Treasury Account Symbol Agency Sub Account",     
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"initiative",
                  "in":"query",
                  "description":"Initiative",
                  "required":false,
                  "type":"string"
               },
			   {               
                  "name":"idvPart8OrPart13",
                  "in":"query",
                  "description":"ReferencedIDV Part8 Or Part13",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"idvMulOrSingleComp",
                  "in":"query",
                  "description":"ReferencedIDV Multiple Or Single",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"idvContractType",
                  "in":"query",
                  "description":"ReferencedIDV Type Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"idvTypeDescription",
                  "in":"query",
                  "description":"ReferencedIDV Type Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"typeOfIdc",
                  "in":"query",
                  "description":"Type Of IDC Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"typeOfIdcDesc",
                  "in":"query",
                  "description":"Type Of IDC Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"multipleOrSingleAwardIdc",
                  "in":"query",
                  "description":"Multiple Or Single Award IDV",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"programAcronym",
                  "in":"query",
                  "description":"Program Acronym",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contingencyOps",
                  "in":"query",
                  "description":"Contingency Humanitarian Peacekeeping Operation Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contingencyOpsDesc",
                  "in":"query",
                  "description":"Contingency Humanitarian Peacekeeping Operation Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractFinancing",
                  "in":"query",
                  "description":"Contract Financing Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractFinancingDesc",
                  "in":"query",
                  "description":"Contract Financing Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"purchaseCardPaymentMethod",
                  "in":"query",
                  "description":"Purchase Card Payment Method Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"pcardAsPaymentDesc",
                  "in":"query",
                  "description":"Purchase Card Payment Method Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"numberOfActions",
                  "in":"query",
                  "description":"Number Of Actions",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"typeOfAgreement",
                  "in":"query",
                  "description":"Type Of Agreement",
                  "required":false,
                  "type":"string"
               },
			   {               
                  "name":"ngcParticipation",
                  "in":"query",
                  "description":"Non Traditional Government Contractor Participation Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"ngcParticipationDesc",
                  "in":"query",
                  "description":"Non Traditional Government Contractor Participation Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"clingerCohenPlanCompliance",
                  "in":"query",
                  "description":"Clinger Cohen Act Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"clingerCohenActDesc",
                  "in":"query",
                  "description":"Clinger Cohen Act Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"walshHealeyAct",
                  "in":"query",
                  "description":"Walsh Healey Act Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"walshHealeyActDesc",
                  "in":"query",
                  "description":"Walsh Healey Act Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"serviceContractAct",
                  "in":"query",
                  "description":"Service Contract Act Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"serviceContractActDesc",
                  "in":"query",
                  "description":"Service Contract Act Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"davisBaconAct",
                  "in":"query",
                  "description":"Davis Bacon Act Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"davisBaconActDesc",
                  "in":"query",
                  "description":"Davis Bacon Act Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractingAuthority",
                  "in":"query",
                  "description":"Interagency Contracting Authority Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractingAuthorityDesc",
                  "in":"query",
                  "description":"Contracting Authority Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"otherStatutoryAuthority",
                  "in":"query",
                  "description":"Other Interagency Contracting Statutory Authority",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nasaStatutoryAuthority",
                  "in":"query",
                  "description":"Nasa Statutory Authority",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"productOrServiceCode",
                  "in":"query",
                  "description":"Product Or Service Code", 
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"productOrService",
                  "in":"query",
                  "description":"Product Or Service",
                  "required":false,
                  "type":"string"
               },
			   {               
                  "name":"productOrServiceDescription",
                  "in":"query",
                  "description":"Product Or Service Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"bundledContractException",
                  "in":"query",
                  "description":"Bundled Contract Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractBundlingDesc",
                  "in":"query",
                  "description":"Bundled Contract Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"claimantProgramCode",
                  "in":"query",
                  "description":"Claimant Program Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"claimantProgramDescription",
                  "in":"query",
                  "description":" Claimant Program Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"naicsDesciption",
                  "in":"query",
                  "description":"Principal NAICS Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"recoveredMaterialClauses",
                  "in":"query",
                  "description":"Recovered Materials/Sustainability Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"recoveredMaterialClsDesc",
                  "in":"query",
                  "description":"Recovered Materials/Sustainability Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mfgOrganizationType",
                  "in":"query",
                  "description":"Domestic or Foreign Entity Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mfgOrganizationTypeDesc",
                  "in":"query",
                  "description":"Domestic or Foreign Entity Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"systemEquipmentCode",
                  "in":"query",
                  "description":"DOD Acquisition Program Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"systemEquipmentDesc",
                  "in":"query",
                  "description":"DOD Acquisition Program Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"itCommercialItemCategory",
                  "in":"query",
                  "description":"InfoTech Commercial Item Category Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"itCommercialItemCatDesc",
                  "in":"query",
                  "description":"InfoTech Commercial Item Category Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"useOfEpaProducts",
                  "in":"query",
                  "description":"Use Of EPA Designated Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"useOfEpaProductsDesc",
                  "in":"query",
                  "description":"Use Of EPA Designated Description",
                  "required":false,
                  "type":"string"
               },
			   {                  
				  "name":"countryCode",
                  "in":"query",
                  "description":"Country of Product or Service Origin Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"awardCountryName",
                  "in":"query",
                  "description":"Country of Product or Service Origin Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"placeOfManufacture",
                  "in":"query",
                  "description":"Place of Manufacture Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"pomShortDescription",
                  "in":"query",
                  "description":"Place of Manufacture Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popLocationCode",
                  "in":"query",
                  "description":"Principal Place Of Performance Location Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popLocationName",
                  "in":"query",
                  "description":"Principal Place Of Performance Location Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popLocationStateCd",
                  "in":"query",
                  "description":"Principal Place Of Performance State Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popLocationStateName",
                  "in":"query",
                  "description":"Principal Place Of Performance State Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popCountryCode",
                  "in":"query",
                  "description":"Principal Place Of Performance Country Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popCountryName",
                  "in":"query",
                  "description":"Principal Place Of Performance Country Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popZipCode",
                  "in":"query",
                  "description":"Principal Place Of Performance Zip Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"placeCongressionalDistrict",
                  "in":"query",
                  "description":"Principal Place Of Performance Congressional District",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"extentCompeted",
                  "in":"query",
                  "description":"Extent Competed Code",
                  "required":false,
                  "type":"string"
               },
			                  {  
                  "name":"extentCompetedDescription",
                  "in":"query",
                  "description":"Extent Competed Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"solicitationProcedures",
                  "in":"query",
                  "description":"Solicitation Procedures Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"solicitationProcDescription",
                  "in":"query",
                  "description":"Solicitation Procedures Description",
                  "required":false,
                  "type":"string"
               },
			   {               
                  "name":"typeOfSetAside",
                  "in":"query",
                  "description":"Type of Set Aside Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"typeOfSetAsideDescription",
                  "in":"query",
                  "description":"Type of Set Aside Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"evaluatedPreference",
                  "in":"query",
                  "description":"Evaluated Preference Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"evaluatedPrefDescription",
                  "in":"query",
                  "description":"Evaluated Preference Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"research",
                  "in":"query",
                  "description":"SBIR/STTR Code",
                  "required":false,
                  "type":"string"
               },
               {
	            "name": "researchDescription",
	            "in": "query",
	            "description":"SBIR/STTR Description",
                "required":false,
                "type":"string"
         	   },
               {  
                  "name":"statryExptnToFairOprtnty",
                  "in":"query",
                  "description":"Fair Opportunity/Limited Sources Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fairOpportunityDescription",
                  "in":"query",
                  "description":"Fair Opportunity/Limited Sources Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonNotCompeted",
                  "in":"query",
                  "description":"Other Than Full And Open Competition Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonNotCompDescription",
                  "in":"query",
                  "description":"Other Than Full And Open Competition Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"numberOfOffersReceived",
                  "in":"query",
                  "description":"Number Of Offers Received",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"commercialItemAcquisition",
                  "in":"query",
                  "description":"Commercial Item Acquisition Procedures Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"commercialItemAcquistnDesc",
                  "in":"query",
                  "description":"Commercial Item Acquisition Procedures Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"simplifiedProceduresForCertainCommercialItems",
                  "in":"query",
                  "description":"Simplified Procedures For Certain Commercial Items",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"simplifiedProceduresForCertainCommercialItemsDesc",
                  "in":"query",
                  "description":"Simplified Procedures For Certain CommercialItems Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sbcDemonstrationProgram",
                  "in":"query",
                  "description":"Small Business Competitiveness Demonstration Program",
                  "required":false,
                  "type":"string"
               },{               
                  
				  "name":"a76Action",
                  "in":"query",
                  "description":"A76 Action Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"a76Desc",
                  "in":"query",
                  "description":"A76 Action Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fedBizOpps",
                  "in":"query",
                  "description":"FedBizOpps Code",
                  "required":false,
                  "type":"string"
			   },
               {  
                  "name":"fedBizOppsDesc",
                  "in":"query",
                  "description":"FedBizOpps Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"localAreaSetAside",
                  "in":"query",
                  "description":"Local Area Set Aside Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"lasaDescription",
                  "in":"query",
                  "description":"Local Area Set Aside Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"preAwardSynopsisRequirement",
                  "in":"query",
                  "description":"Pre-Award Synopsis",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"priceEvalDiff",
                  "in":"query",
                  "description":"Price Evaluation Percent Difference",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"synopsisWaiverException",
                  "in":"query",
                  "description":"Synopsis Waiver Exception",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"alternativeAdvertising",
                  "in":"query",
                  "description":"Alternative Advertising",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"subcontractPlan",
                  "in":"query",
                  "description":"Subcontract Plan Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"subcontractPlanDesc",
                  "in":"query",
                  "description":"Subcontract Plan Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonNotSdb",
                  "in":"query",
                  "description":"Reason Not Awarded To Small Disadvantaged Business Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonNotSdbDesc",
                  "in":"query",
                  "description":"Reason Not Awarded To Small Disadvantaged Business Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonNotSb",
                  "in":"query",
                  "description":"Reason Not Awarded To Small Business Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"reasonNotSbDesc",
                  "in":"query",
                  "description":"Reason Not Awarded To Small Business Description",
                  "required":false,
                  "type":"string"
               },
			   {               
                  "name":"offerorsProposalNumber",
                  "in":"query",
                  "description":"Offeror's Proposal Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"prNumber",
                  "in":"query",
                  "description":"PR Number",
                  "required":false,
                  "type":"int32"
               },
               {  
                  "name":"accessionNumber",
                  "in":"query",
                  "description":"Accession Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"installationUnique",
                  "in":"query",
                  "description":"Installation Unique",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"administratorCode",
                  "in":"query",
                  "description":"Administrative CO.",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractingOfficerCode",
                  "in":"query",
                  "description":"Contracting Officer Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"negotiatorCode",
                  "in":"query",
                  "description":"Buyer Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"organizationCode",
                  "in":"query",
                  "description":"COR Organization Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"cotrName",
                  "in":"query",
                  "description":"COR Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"alternateCotrName",
                  "in":"query",
                  "description":"Alternate COR Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fundedThroughDate",
                  "in":"query",
                  "description":"Funded Through Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"contractFundCode",
                  "in":"query",
                  "description":"Contract Fund Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"mgmtReportingRequirements",
                  "in":"query",
                  "description":"Management Reporting Requirements",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"acctngInstallationNumber",
                  "in":"query",
                  "description":"Accounting Installation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fieldOfScienceOrEngg",
                  "in":"query",
                  "description":"Field Of Science or Engineering",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractAdminsDelegated",
                  "in":"query",
                  "description":"Contract Administrations Delegated",
                  "required":false,
                  "type":"string"
               },
			   {
				  "name":"principalInvFirstName",
                  "in":"query",
                  "description":"Principal Investigator First Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"principalInvMiddleInitial",
                  "in":"query",
                  "description":"Principal Investigator M.I",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"principalInvLastName",
                  "in":"query",
                  "description":"Principal Investigator Last Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"altPrincipalInvFirstName",
                  "in":"query",
                  "description":"Alternate Principal Investigator First Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"altPrincipalInvMiInitial",
                  "in":"query",
                  "description":"Alternate Principal Investigator M.I",
                  "required":false,
                  "type":"string"
               },{
			     
                  "name":"altPrincipalInvLastName",
                  "in":"query",
                  "description":"Alternate Principal Investigator Last Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"closeOutPr",
                  "in":"query",
                  "description":"Close Out PR",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"advisoryAssistanceServices",
                  "in":"query",
                  "description":"Advisory/Assistance Services Contract",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"supportServicesTypeContract",
                  "in":"query",
                  "description":"Support Services Type Contract",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"newTechPatentRightsClause",
                  "in":"query",
                  "description":"New Technology or Patent Clause",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"propertyFinancialReporting",
                  "in":"query",
                  "description":"Property Financial Reporting",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"valueEngineeringClause",
                  "in":"query",
                  "description":"Value Engineering Clause",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"securityCode",
                  "in":"query",
                  "description":"Security Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"isPhysicallyComplete",
                  "in":"query",
                  "description":"Is Physically Complete",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"physicalCompletionDate",
                  "in":"query",
                  "description":"Is Physically Complete",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"finalInvoicePaidDate",
                  "in":"query",
                  "description":"Final Invoice Paid Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
			   { 
				  "name":"solicitationIssueDate",
                  "in":"query",
                  "description":"Solicitation Issue Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"cancellationDate",
                  "in":"query",
                  "description":"Cancellation Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"destroyDate",
                  "in":"query",
                  "description":"Destroy Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"preparedBy",
                  "in":"query",
                  "description":"Created By",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"preparedDate",
                  "in":"query",
                  "description":"Created Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"lastModifiedBy",
                  "in":"query",
                  "description":"Last Modified By",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"approvedBy",
                  "in":"query",
                  "description":"Approved By",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"approvedDate",
                  "in":"query",
                  "description":"Approved Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"vendorName",
                  "in":"query",
                  "description":"Vendor Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorNameAlternate",
                  "in":"query",
                  "description":"Alternate Vendor Name ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorLegalOrganizationName",
                  "in":"query",
                  "description":"Vendor Legal Organization Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"doingBusinessAsName",
                  "in":"query",
                  "description":"Doing Business As Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"alaskanNativeCorporation",
                  "in":"query",
                  "description":"Is Alaskan Native Corporation Owned Firm",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"americanIndianOwned",
                  "in":"query",
                  "description":"Is American Indian Owned ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"indianTribe",
                  "in":"query",
                  "description":"Is Indian Tribe (Federally Recognized)",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nativeHawaiianOrganization",
                  "in":"query",
                  "description":"Is Native Hawaiian Organization Owned Firm",
                  "required":false,
                  "type":"string"
               },
			   {
				  "name":"triballyOwned",
                  "in":"query",
                  "description":"Is Tribally Owned Firm",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"veteranOwned",
                  "in":"query",
                  "description":"Is Veteran Owned Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"serviceDisabledVeteranOwned",
                  "in":"query",
                  "description":"Is Service Disabled Veteran Owned Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"womenOwned",
                  "in":"query",
                  "description":"Is Woman Owned Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"womenOwnedSmall",
                  "in":"query",
                  "description":"Is Women Owned Small Business",
                  "required":false,
                  "type":"string"
               },
               {
	            "name": "econoDisadvWomenOwnedSmall",
	            "in": "query",
	            "description":"Is Economically Disadvantaged Women Owned Small Business",
                "required":false,
                "type":"string"
         	   },
               {  
                  "name":"jointVentureWomenOwnedSmall",
                  "in":"query",
                  "description":"Is Joint Venture Women Owned Small Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"jointVentureEconoDisadvWomenOwnedSmall",
                  "in":"query",
                  "description":"Is Joint Venture Economically Disadvantaged Women Owned Small Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"minorityOwned",
                  "in":"query",
                  "description":"Is Minority Owned Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"subcontinentAsianAmericanOwned",
                  "in":"query",
                  "description":"Is Subcontinent Asian (Asian-Indian) American Owned",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"asianPacificAmericanOwned",
                  "in":"query",
                  "description":"Is Asian-Pacific American Owned",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"blackAmericanOwned",
                  "in":"query",
                  "description":"Is Black American Owned ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"hispanicAmericanOwned",
                  "in":"query",
                  "description":"Is Hispanic American Owned",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nativeAmericanOwned",
                  "in":"query",
                  "description":"Is Native American Owned",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"otherMinorityOwned",
                  "in":"query",
                  "description":"Is Other Minority Owned",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"verySmallBusiness",
                  "in":"query",
                  "description":"Is Very Small Business",
                  "required":false,
                  "type":"string"
               },
			   {
				  "name":"communityDevCorpOwned",
                  "in":"query",
                  "description":"Is Community Development Corporation Owned Firm",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"laborSurplusArea",
                  "in":"query",
                  "description":"Is Labor Surplus Area Firm",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"usFederalGovernment",
                  "in":"query",
                  "description":"Is U.S. Federal Government ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"federallyFundedR&DCorp",
                  "in":"query",
                  "description":"Is Federally Funded Research and Development Corp",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"federalAgency",
                  "in":"query",
                  "description":"Is Federal Agency",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"usStateGovernment",
                  "in":"query",
                  "description":"Is U.S. State Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"usLocalGovernment",
                  "in":"query",
                  "description":"Is U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"city",
                  "in":"query",
                  "description":"Is City U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"county",
                  "in":"query",
                  "description":"Is County U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"interMunicipal",
                  "in":"query",
                  "description":"Is Inter-Municipal U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"localGovernmentOwned",
                  "in":"query",
                  "description":"Is Local Government Owned U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"municipality",
                  "in":"query",
                  "description":"Is Municipality U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"schoolDistrict",
                  "in":"query",
                  "description":"Is School District U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"township",
                  "in":"query",
                  "description":"Is Township U.S. Local Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"usTribalGovernment",
                  "in":"query",
                  "description":"Is U.S. Tribal Government",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"foreignGovernment",
                  "in":"query",
                  "description":"Is Foreign Government",
                  "required":false,
                  "type":"string"
               },
			   {
				  "name":"corpEntityNotTaxExempt",
                  "in":"query",
                  "description":"Is Corporate Entity Not Tax Exempt",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"corpEntityTaxExempt",
                  "in":"query",
                  "description":"Is Corporate Entity Tax Exempt",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"partnershipOrLlp",
                  "in":"query",
                  "description":"Is Partnership or Limited Liability Partnership",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"soleProprietorship",
                  "in":"query",
                  "description":"Is Sole Proprietorship",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"smallAgriculturalCooperative",
                  "in":"query",
                  "description":"Is Small Agricultural Cooperative",
                  "required":false,
                  "type":"string"
               },
               { 
                  "name":"internationalOrganization",
                  "in":"query",
                  "description":"Is International Organization",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"usGovernmentEntity",
                  "in":"query",
                  "description":"Is US Government Entity",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"communityDevelopmentCorp",
                  "in":"query",
                  "description":"Is Community Development Corporation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"domesticShelter",
                  "in":"query",
                  "description":"Is Domestic Shelter",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"educationalInstitution",
                  "in":"query",
                  "description":"Is Educational Institution",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"foundation",
                  "in":"query",
                  "description":"Is Foundation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"hospital",
                  "in":"query",
                  "description":"Is Hospital",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"manufacturerOfGoods",
                  "in":"query",
                  "description":"Is Manufacturer Of Goods",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"veterinaryHospital",
                  "in":"query",
                  "description":"Is Veterinary Hospital",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"hispanicServicingInstitution",
                  "in":"query",
                  "description":"Is Hispanic Servicing Institution",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contracts",
                  "in":"query",
                  "description":"Receives Contracts",
                  "required":false,
                  "type":"string"
               },
			   {               
                  
				  "name":"grants",
                  "in":"query",
                  "description":"Receives Grants",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"contractsGrants",
                  "in":"query",
                  "description":"Receives Contracts and Grants",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"airportAuthority",
                  "in":"query",
                  "description":"Is Airport Authority ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"councilOfGovernments",
                  "in":"query",
                  "description":"Is Council of Governments",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"housingPublicOrTribal",
                  "in":"query",
                  "description":"Is Housing Authorities Public/Tribal",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"interstateEntity",
                  "in":"query",
                  "description":"Is Interstate Entity",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"planningCommission",
                  "in":"query",
                  "description":"Is Planning Commission",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"portAuthority",
                  "in":"query",
                  "description":"Is Port Authority",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"transitAuthority",
                  "in":"query",
                  "description":"Is Transit Authority",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"subchapterSCorporation",
                  "in":"query",
                  "description":"Is Subchapter S Corporation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"limitedLiabilityCorporation",
                  "in":"query",
                  "description":"Is Limited Liability Corporation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"foreignOwnedAndLocated",
                  "in":"query",
                  "description":"Foreign Owned And Located",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"forProfitOrganization",
                  "in":"query",
                  "description":"Is For Profit Organization",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nonprofitOrganization",
                  "in":"query",
                  "description":"Is Non Profit Organization",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"otherNotForProfitOrganization",
                  "in":"query",
                  "description":"Is Other Not For Profit Organization",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"shelteredWorkshop",
                  "in":"query",
                  "description":"Is Sheltered Workshop",
                  "required":false,
                  "type":"string"
               },
			   {               
                  
				  "name":"stateOfIncorporation",
                  "in":"query",
                  "description":"State Of Incorporation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"countryOfIncorporation",
                  "in":"query",
                  "description":"Country Of Incorporation",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"organizationType",
                  "in":"query",
                  "description":"Organization Type",
                  "required":false,
                  "type":"string"
               },
               {
	            "name":"1862LandGrantCollege",
	            "in": "query",
	            "description":"Is 1862 Land Grant College",
                "required":false,
                "type":"string"
         	   },
               {  
                  "name":"1890LandGrantCollege",
                  "in":"query",
                  "description":"Is 1890 Land Grant College",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"1994LandGrantCollege",
                  "in":"query",
                  "description":"Is 1994 LandGrant College",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"historicBlackCollegeUniv",
                  "in":"query",
                  "description":"Is Historically Black College or University (HBCU)",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"minorityInstitution",
                  "in":"query",
                  "description":"Is Minority Institutions",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"privateUniversityOrCollege",
                  "in":"query",
                  "description":"Is Private University Or College",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"schoolOfForestry",
                  "in":"query",
                  "description":"Is School of Forestry",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"higherLearning",
                  "in":"query",
                  "description":"Is State Controlled Institution of Higher Learning ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"tribalCollege",
                  "in":"query",
                  "description":"Is Tribal College",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"veterinaryCollege",
                  "in":"query",
                  "description":"Is Veterinary College",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"alaskanNativeServicingInstitution",
                  "in":"query",
                  "description":"Is Alaskan Native Servicing Institution",
                  "required":false,
                  "type":"string"
               },{               
                  
				  "name":"nativeHawaiianServicingInstitution",
                  "in":"query",
                  "description":"Is Native Hawaiian Servicing Institution",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"dotCertifiedDisadvBusiness",
                  "in":"query",
                  "description":"Is DoT Certified Disadvantaged Business Enterprise ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"selfCertifiedSmallDisadvBusiness",
                  "in":"query",
                  "description":"Is Self-Certified Small Disadvantaged Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sbaCertifiedSmallDisadvBusiness",
                  "in":"query",
                  "description":"Is SBA Certified Small Disadvantaged Business",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"sbaCertified8a",
                  "in":"query",
                  "description":"Is SBA Certified 8(a) Program Participant",
                  "required":false,
                  "type":"string"
               },
               {
	              "name":"sbaCertifiedHubZone",
	              "in": "query",
	              "description":"Is SBA Certified Hub Zone firm",
                  "required":false,
                  "type":"string"
         	   },
               {  
                  "name":"sbaCertified8aJointVenture",
                  "in":"query",
                  "description":"Is SBA Certified 8(a) Joint Venture ",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorAddressLine1",
                  "in":"query",
                  "description":"Vendor Address Line1",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorAddressLine2",
                  "in":"query",
                  "description":"Vendor Address Line2",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorAddressLine3",
                  "in":"query",
                  "description":"Vendor Address Line3",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorCity",
                  "in":"query",
                  "description":"Vendor City",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorState",
                  "in":"query",
                  "description":"Vendor State",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorZipCode",
                  "in":"query",
                  "description":"Vendor ZipCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorCountryCode",
                  "in":"query",
                  "description":"Vendor Country Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorPhoneNumber",
                  "in":"query",
                  "description":"Vendor Phone Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorFaxNumber",
                  "in":"query",
                  "description":"Vendor Fax Number",
                  "required":false,
                  "type":"string"
               },
			   {
				  "name":"vendorCongressionalDistrict",
                  "in":"query",
                  "description":"Vendor Congressional District",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"globalDunsNumber",
                  "in":"query",
                  "description":"Global Parent DUNS Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"globalVendorName",
                  "in":"query",
                  "description":"Global Parent DUNS Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorRegistrationDate",
                  "in":"query",
                  "description":"Vendor Registration Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"vendorRenewalDate",
                  "in":"query",
                  "description":"Vendor Renewal Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               },
               {  
                  "name":"vendorDivisionName",
                  "in":"query",
                  "description":"Vendor Division Name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"vendorDivisionNumber",
                  "in":"query",
                  "description":"Vendor Division Number",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"samExceptionCode",
                  "in":"query",
                  "description":"SAM Exception Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"samExceptionDesc",
                  "in":"query",
                  "description":"Sam Exception Desc",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"coBusSizeDeterminationCode",
                  "in":"query",
                  "description":"Contracting Officer's Business Size Selection Code",
                  "required":false,
                  "type":"string"
               },
                {  
                  "name":"includeSections",
                  "in":"query",
                  "description":"Include Sections Schema Filter",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"excludeSections",
                  "in":"query",
                  "description":"Exclude Sections Schema Filter",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nasaSpecificElements",
                  "in":"query",
                  "description":"NasaSpecificElemets",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"typeOfSetAsideSourceCode",
                  "in":"query",
                  "description":"Type of Set Aside Source Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"typeOfSetAsideSourceDesc",
                  "in":"query",
                  "description":"Type of Set Aside Source Description",
                  "required":false,
                  "type":"string"
               },
                {  
                  "name":"idvTypeOfSetAsideCode",
                  "in":"query",
                  "description":"IDV Type of Set Aside Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"idvTypeOfSetAsideDesc",
                  "in":"query",
                  "description":"IDV Type of Set Aside Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"numberOfOffersSourceCode",
                  "in":"query",
                  "description":"Number of Offers Source Code",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"numberOfOffersSourceDesc",
                  "in":"query",
                  "description":"Number of Offers Source Description",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"idvNumberOfOffers",
                  "in":"query",
                  "description":"IDV Number of Offers",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"closedBy",
                  "in":"query",
                  "description":"Closed By",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"closedDate",
                  "in":"query",
                  "description":"Closed Date",
                  "required":false,
                  "type":"string",
                  "format":"date-time"
               }, 
               {  
                  "name":"closedStatus",
                  "in":"query",
                  "description":"Closed Status",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"nonFederalFundingAmount",
                  "in":"query",
                  "description":"Non FederalFundingAmount",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"cfdaProgramIdentificationNumberCode",
                  "in":"query",
                  "description":"CFDA ProgramIdentification NumberCode",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"cfdaProgramIdentificationNumberDesc",
                  "in":"query",
                  "description":"CFDA Program Identification Number Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"totalEstimatedOrderValue",
                  "in":"query",
                  "description":"Total Estimated OrderValue",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"inherentlyGovernmentalCode",
                  "in":"query",
                  "description":"Inherently Governmental Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"inherentlyGovernmentalDesc",
                  "in":"query",
                  "description":"Inherently Governmental Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"naicsSourceCode",
                  "in":"query",
                  "description":"NAICS Source Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"naicsSourceDesc",
                  "in":"query",
                  "description":"NAICS Source Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"idvNAICSCode",
                  "in":"query",
                  "description":"IDV NAICS Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"idvNAICSDesc",
                  "in":"query",
                  "description":"IDV NAICS Description",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"idvCoBusSizeDeterminationCode",
                  "in":"query",
                  "description":"IDV Contracting Officer Business Size Selection Code",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"idvCoBusSizeDeterminationDesc",
                  "in":"query",
                  "description":"IDV Contracting Officer Business Size Selection Description",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"idvCoBusSizeDeterminationSourceCode",
                  "in":"query",
                  "description":"IDV Contracting Officer Business Size Selection Source Code",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"idvCoBusSizeDeterminationSourceDesc",
                  "in":"query",
                  "description":"IDV Contracting Officer Business Size Selection Source Description",
                  "required":false,
                  "type":"string"
               }, 
               {  
                  "name":"cageCode",
                  "in":"query",
                  "description":"Cage Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"selfCertifiedHubZoneJointVenture",
                  "in":"query",
                  "description":"Self-Certified Hub Zone Joint Venture",
                  "required":false,
                  "type":"string"
               },
               { 
                  "name":"additionalReportingCode",
                  "in":"query",
                  "description":"Additional Reporting Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"additionalReportingDesc",
                  "in":"query",
                  "description":"Additional Reporting Description",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"awardOrIdvType",
                  "in":"query",
                  "description":"Award OR Idv type",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"baseDollarsObligated",
                  "in":"query",
                  "description":"Base dollars obligated",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popCountyCode",
                  "in":"query",
                  "description":"Place of performance County Code",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"popCountyName",
                  "in":"query",
                  "description":"Place of performance County name",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fundingDepartmentId",
                  "in":"query",
                  "description":"Funding department Id",
                  "required":false,
                  "type":"string"
               },
               {  
                  "name":"fundingDepartmentName",
                  "in":"query",
[...]
