openapi: 3.0.0
info:
  title: Search.gov Results API
  description: >-
    Search.gov is a service of the General Services Administration, providing search engine capability to federal agencies for their public websites. This API This API exposes all relevant Search.gov results “modules” in a single JSON call.
  version: 2.0
paths:
  /i14y:
    get:
      summary: Search Results
      description: 'This endpoint returns search results.'
      parameters:
        - name: affiliate
          in: query
          description: 'Site handle.'
          required: true
          schema:
            type: string
            format: string
        - name: access_key
          in: query
          description: 'The Search.gov key used to access the API'
          required: true
          schema:
            type: string
            format: string
        - name: query
          in: query
          description: 'Search term.'
          required: false
          schema:
            type: string
            format: string
        - name: enable_highlighting
          in: query
          description: 'Enables or disables the highlighting of keywords in the results. The default is ''true' so use false' to disable highlighting.'
          required: false
          schema:
            type: boolean
            format: string
            default: true
        - name: limit
          in: query
          description: 'Defines the number of results to return. The default is 20, but you can specify between 1 and 50 results.'
          required: false
          schema:
            type: integer
            format: integer
            default: 20
        - name: offset
          in: query
          description: 'Defines the number of results you want to skip from the first result. The offset is used for implementing pagination. The default is 0 and the maximum is 999.'
          required: false
          schema:
            type: integer
            format: integer
            default: 0
        - name: sort_by
          in: query
          description: Allowed variables are date and relevance. The default sort is relevance. Add `sort_by = date` to sort by date.
          required: false
          schema:
            type: string
            format: string
            default: relevance
      tags:
        - search
        
      responses:
        '200':
          description: An array of search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Web_Results'

      responses:
        '200':
          description: Total number of results available
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/web_total'

      responses:
        '200':
          description: Offset for the subsequent results
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/web_next_offset'
                  
      responses:
        '200':
          description: Spelling correction for your search term
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/web_spelling_correction'

      responses:
        '200':
          description: Graphic best bets, which appear only when the query matches the text of the best bet’s title, description, or keywords.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Graphic_best_bets'
                  
     responses:
        '200':
          description: 
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/health_topics'
                  
     responses:
        '200':
          description: 
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/job_openings'
                  
     responses:
        '200':
          description: 
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/recent_tweets'

     responses:
        '200':
          description: Recent news from our Search.gov indexes. Only available with commercial results.
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/recent_news'

     responses:
        '200':
          description: Recent video news from our Search.gov indexes. Only available with commercial results. 
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/recent_video_news'

     responses:
        '200':
          description: Federal Register documents
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/federal_register_documents'

     responses:
        '200':
          description: An array of related search terms, which are based on recent, common searches on the your site. Users will need to render each of these into a link that would make a new API call with that query term as they query
          content:
            application/json:
              schema:
                type: 
                items:
                  $ref: '#/components/schemas/related_search_terms'
                  
                  
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
servers:
  - url: 'https://api.gsa.gov/technology/searchgov/v2/results'

acomponents:
  schemas:
  
      ####### There needs be a distinct schema section for each of the Expected Results.  So, there should be ~12 schema sections.   #####

  
    Web_Results:
      type: object
      properties:
        ID:
          type: integer
          description: Generated unique identifier.
        ITEM_NUM:
          type: string
          description: Item number.
        AWARD_YEAR:
          type: string
          description: Award Year.
        ORIGIN_AIRPORT_ABBREV:
          type: string
          description: Origin Airport Abbreviation.    
    