openapi: 3.0.0
info:
  title: Search.gov Results API
  description: >-
    Search.gov is a service of the General Services Administration, providing search engine capability to federal agencies for their public websites. This API This API exposes all relevant Search.gov results “modules” in a single JSON call.
  version: 2.0
paths:
  /i14y:
    get:
      summary: Search Results
      description: |
        This endpoint returns search results.
      parameters:
        - name: affiliate
          in: query
          description: 'Site handle. Example: ''usasearch'''
          required: true
          schema:
            type: string
            format: string
        - name: access_key
          in: query
          description: 'The Search.gov key used to access the API'
          required: true
          schema:
            type: string
            format: string
        - name: query
          in: query
          description: 'Search term.  Example: ''car'''
          required: false
          schema:
            type: string
            format: string
        - name: enable_highlighting
          in: query
          description: 'Enables or disables the highlighting of keywords in the results. The default is 'true' so use 'false' to disable highlighting.'
          required: false
          schema:
            type: boolean
            format: string
            default: true
        - name: limit
          in: query
          description: 'Defines the number of results to return. The default is 20, but you can specify between 1 and 50 results.'
          required: false
          schema:
            type: integer
            format: integer
            default: 20
        - name: offset
          in: query
          description: 'Defines the number of results you want to skip from the first result. The default is 0 and the maximum is 999.'
          required: false
          schema:
            type: integer
            format: integer
            default: 0
        - name: sort_by
          in: query
          description: 'Sort the results by date. The default is sort by relevance.'
          required: false
          schema:
            type: string
            format: string
            default: relevance
      tags:
        - search
      responses:
        '200':
          description: An array of search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Web_Results'
      responses:
        '200':
          description: An array of search results
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Text_best_bets'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
servers:
  - url: 'https://api.gsa.gov/technology/searchgov/v2/results'
components:
  schemas:
    Web_Results:
    
    
    ####### Gray stopping here - restart here and delete this line later.  #####
    
    
      type: object
      properties:
        ID:
          type: integer
          description: Generated unique identifier.
        ITEM_NUM:
          type: string
          description: Item number.
        AWARD_YEAR:
          type: string
          description: Award Year.
        ORIGIN_AIRPORT_ABBREV:
          type: string
          description: Origin Airport Abbreviation.
        DESTINATION_AIRPORT_ABBREV:
          type: string
          description: Destinatoin Airport Abbreviation.
        ORIGIN_CITY_NAME:
          type: string
          description: Original City Name.
        ORIGIN_STATE:
          type: string
          description: Origin State.
        ORIGIN_COUNTRY:
          type: string
          description: Origin Country.
        DESTINATION_CITY_NAME:
          type: string
          description: Destination City Name.
        DESTINATION_STATE:
          type: string
          description: Destination State.
        DESTINATION_COUNTRY:
          type: string
          description: Destination Country.
        AIRLINE_ABBREV:
          type: string
          description: Airline Abbreviation.
        AWARDED_SERV:
          type: string
          description: Awarded Serv.
        PAX_COUNT:
          type: string
          description: PAX Count.
        YCA_FARE:
          type: integer
          description: YCA Fare.
        XCA_FARE:
          type: integer
          description: XCA Fare.
        BUSINESS_FARE:
          type: integer
          description: Business Fare.
        ORIGIN_AIRPORT_LOCATION:
          type: string
          description: Origin Airport Location.
        DESTINATION_AIRPORT_LOCATION:
          type: string
          description: Destination Airport Location.
        ORIGIN_CITY_STATE_AIRPORT:
          type: string
          description: Origin City State Airport.
        DESTINATION_CITY_STATE_AIRPORT:
          type: string
          format: date-time
          description: Destination City State Airport.
        EFFECTIVE_DATE:
          type: string
          format: date-time
          description: Expiration Date.
        EXPIRATION_DATE:
          type: string
          format: date-time
          description: Expiration Date.
    Error:
      type: object
      properties:
        message:
          type: string
        required_fields:
          type: string
        example:
          type: string
