 .usa-hero {
  padding-top: 13rem;
  padding-bottom: 13rem;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
 }

 .usa-hero-callout .usa-button {
    margin-top: 4rem;
  }

  @media screen and (min-width: 481px){
  .usa-hero-callout {
      max-width: 35rem;
    }
  }

.rsvp-bar {
    background: #F8F8FA;
    display: flex;
    -webkit-box-pack: center;
    justify-content: space-around;
}

.rsvp--block {
	display: block;
	position: relative;
	padding: 40px 0;
}

.material-icons {
    position: relative;
    top: -.1em;
    vertical-align: middle;
    padding-right: .25em;
}
