---
layout: base
title: APIs
permalink: /api/
category: api
banner-heading: GSA API Directory
banner-text: These following GSA APIs cover a range of important data and functionality. Some of the APIs are available to the general public, and others are for GSA partners only.
---



{% if page.banner-heading %}
  {% include banner-header.html %}
{% endif %}

    <section class="usa-section usa-section-dark">
        <div class="usa-grid-full" id="api-directory">
            <div class="usa-width-one-whole data-list">
                {% for apis in site.data.api-list %}
                    <article class="data-listing">
                        <header>
                            <h3 class="title">{{ apis.title }}</h3>
                        </header>
                        <div class="content">
                            <p class="txt">
                                {{ apis.description }}
                            </p>
                            <a href="{{ apis.url }}" class="usa-button usa-button-gray">View API Documentation</a>
                        </div>
                        <footer class="usa-card-footer">
                        </footer>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
