openapi: 3.0.3
info:
  title: Assistance Listings Search API
  version: 1.0.0
  description: Search and retrieve Assistance Listings with detailed program information.

servers:
  - url: https://api.sam.gov

paths:
  /assistance-listings/v1/search:
    get:
      summary: Search Assistance Listings
      operationId: searchAssistanceListings
      parameters:
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 10
        - name: pageNumber
          in: query
          schema:
            type: integer
            default: 0
        - name: status
          in: query
          schema:
            type: string
            enum: [Active, Inactive, All]
            default: Active
        - name: assistanceListingId
          in: query
          schema:
            type: string
        - name: publishedDateFrom
          in: query
          schema:
            type: string
            format: date-time
        - name: publishedDateTo
          in: query
          schema:
            type: string
            format: date-time
        - name: fiscalYear
          in: query
          schema:
            type: integer
        - name: assistanceTypes
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: beneficiaryTypes
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: applicantTypes
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: organizationCodes
          in: query
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
        - name: organizationLevel
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [Department, Agency, Office]
            default: [Department]
        - name: coreBasedStatisticalDelineations
          in: query
          schema:
            type: string
            enum: [Y, N]

      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"

components:
  schemas:
    SearchResponse:
      type: object
      required: [totalRecords, pageSize, page, totalPages, assistanceListingsData]
      properties:
        totalRecords:
          type: integer
        pageSize:
          type: integer
        page:
          type: integer
        totalPages:
          type: integer
        assistanceListingsData:
          type: array
          items:
            $ref: "#/components/schemas/AssistanceListing"

    AssistanceListing:
      type: object
      properties:
        version:
          type: string
        status:
          type: string
          enum: [Active, Inactive]
        fiscalYear:
          type: integer
        publishedDate:
          type: string
          format: date-time
        assistanceListingId:
          type: string
        title:
          type: string
        popularLongName:
          type: string
        popularShortName:
          type: string
        relatedFederalAssistance:
          type: array
          items:
            type: string
        federalOrganization:
          $ref: "#/components/schemas/FederalOrganization"
        programWebPage:
          type: string
          format: uri
        overview:
          $ref: "#/components/schemas/Overview"
        authorizations:
          $ref: "#/components/schemas/Authorizations"
        financialInformation:
          $ref: "#/components/schemas/FinancialInformation"
        criteriaForApplying:
          $ref: "#/components/schemas/CriteriaForApplying"
        assistanceApplication:
          $ref: "#/components/schemas/AssistanceApplication"
        compliance:
          $ref: "#/components/schemas/Compliance"
        contacts:
          $ref: "#/components/schemas/Contacts"

    FederalOrganization:
      type: object
      properties:
        department:
          type: string
        agency:
          type: string
        office:
          type: string

    Overview:
      type: object
      properties:
        objective:
          type: string
        assistanceListingDescription:
          type: string
        fundedProjectsList:
          type: object
          properties:
            isApplicable:
              type: boolean
            list:
              type: array
              items:
                type: object
                properties:
                  fiscalYear:
                    type: integer
                  description:
                    type: string
        functionalCodes:
          type: array
          items:
            $ref: "#/components/schemas/CodeName"
        missionSubCategories:
          type: object
          properties:
            Primary:
              $ref: "#/components/schemas/CodeName"
            Other:
              type: array
              items:
                $ref: "#/components/schemas/CodeName"
        subjectTerms:
          type: array
          items:
            $ref: "#/components/schemas/CodeName"

    CodeName:
      type: object
      properties:
        code:
          type: string
        name:
          type: string

    Authorizations:
      type: object
      properties:
        description:
          type: string
        list:
          type: array
          items:
            type: object
            properties:
              parentAuthorizationId:
                type: string
                format: uuid
              authorizationTypes:
                type: object
                properties:
                  act: { type: boolean }
                  executiveOrder: { type: boolean }
                  publicLaw: { type: boolean }
                  statute: { type: boolean }
                  USC: { type: boolean }
              act:
                $ref: "#/components/schemas/LegalReference"
              executiveOrder:
                $ref: "#/components/schemas/LegalReference"
              publicLaw:
                type: object
                properties:
                  congressCode: { type: string }
                  number: { type: string }
                  description: { type: string }
              statute:
                type: object
                properties:
                  volume: { type: string }
                  page: { type: string }
                  description: { type: string }
              USC:
                type: object
                properties:
                  title: { type: string }
                  section: { type: string }
                  description: { type: string }

    LegalReference:
      type: object
      properties:
        title: { type: string }
        part: { type: string }
        section: { type: string }
        description: { type: string }

    FinancialInformation:
      type: object
      properties:
        isFundedCurrentFY:
          type: boolean
        additionalInformation:
          type: string
        obligations:
          type: array
          items:
            type: object
            properties:
              isRecoveryAct:
                type: boolean
              assistanceType:
                $ref: "#/components/schemas/CodeName"
              awardAmountBasis:
                type: array
                items:
                  $ref: "#/components/schemas/CodeName"
              awardRecipientBasis:
                type: array
                items:
                  $ref: "#/components/schemas/CodeName"
              values:
                type: array
                items:
                  type: object
                  properties:
                    year: { type: integer }
                    actual: { type: number }
                    estimate: { type: number }

    CriteriaForApplying:
      type: object
      properties:
        documentation:
          type: object
          properties:
            isApplicable: { type: boolean }
            description:
              type: array
              items: { type: string }

    AssistanceApplication:
      type: object
      properties:
        deadlines:
          type: object
          properties:
            value: { type: string }
            list:
              type: array
              items:
                type: object
                properties:
                  start: { type: string, format: date }
                  end: { type: string, format: date }
                  description: { type: string }

    Compliance:
      type: object
      properties:
        CFR200Requirements:
          type: object
          properties:
            questions:
              type: array
              items:
                type: object
                properties:
                  code: { type: string }
                  isSelected: { type: boolean }
            description: { type: string }

    Contacts:
      type: object
      properties:
        local:
          type: object
          properties:
            flag: { type: string }
            officeLocationURL: { type: string, format: uri }
            description: { type: string }
        headquarters:
          type: array
          items:
            type: object
            properties:
              contactId: { type: string, format: uuid }
              title: { type: string }
              fullName: { type: string }
              email: { type: string, format: email }
              phone: { type: string }
              fax: { type: string }
              streetAddress: { type: string }
              city: { type: string }
              state: { type: string }
              zip: { type: string }
              country: { type: string }
              subdivisionCode: { type: string }
              subdivisionName: { type: string }
