openapi: 3.0.3
info:
  title: API for Large Volume Processing Report (FSRS) 
  description: Swagger documentation for API for Large Volume Processing Report (FSRS)  
  license:
    name: GSA
  version: 0.1.0
servers:
  - url: https://api.sam.gov/acquisition/v1/FFATA?api_key={a valid API Key}
  - url: https://api.sam.gov/assistance/v1/FFATA?api_key={a valid API Key}
  - url: https://api-alpha.sam.gov/acquisition/v1/FFATA?api_key={a valid API Key}
  - url: https://api-alpha.sam.gov/assistance/v1/FFATA?api_key={a valid API Key}
tags:
  - name: acquisition-controller
    description: All endpoints for acquisition FFATA Reporting
    #externalDocs:
     # description: Find out more
    #  url: http://swagger.io
  - name: assistance-controller
    description: All endpoints for assistance FFATA Reporting
    #externalDocs:
     # description: Find out more about our store
      #url: http://swagger.io
paths:
  /acquisition/v1/FFATA:
    post:
      tags:
        - acquisition-controller
      summary: Upload a Contract FFATA Subaward report
      description: Upload a Contract FFATA Subaward report
      operationId: submitFFATAContractReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
      requestBody:
        description: Upload a Contract FFATA Subaward report
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FFATAContractObject'
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented
    #/acquisition/v1/FFATA:
    put:
      tags:
        - acquisition-controller
      summary: Update existing FFATA Contract Report(s)
      description: Update existing FFATA Contract Report(s) by unique key
      operationId: updateFFATAContractReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
      requestBody:
        description: Update FFATA Contract Report(s)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FFATAContractObject'
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented
  #/acquisition/v1/FFATA:
    get:
      tags:
        - acquisition-controller
      summary: Get existing FFATA Contract Report(s)
      description: Get existing FFATA Contract Report(s)
      operationId: getFFATAContractReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
        - name: requestBody
          in: query
          description: Get existing Contract FFATA Subaward report(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/getContractFFATA'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FFATAContractObject'          
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented
          
  #/acquisition/v1/FFATA:
    delete:
      tags:
        - acquisition-controller
      summary: Deletes Contract FFATA Subaward Report(s)
      description: Deletes Contract FFATA Subaward Report(s)
      operationId: deleteFFATAContractReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
        - name: requestBody
          in: query
          description: Delete Contract FFATA Subaward report(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/deleteContractFFATA'
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented

  /assistance/v1/FFATA:
    post:
      tags:
        - assistance-controller
      summary: Upload Grant FFATA Subaward report(s)
      description: Upload Grant FFATA Subaward report(s)
      operationId: submitFFATAGrantReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
      requestBody:
        description: Upload Grant FFATA Subaward report(s)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FFATAGrantObject'
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented
  #/assistance/v1/FFATA:
    put:
      tags:
        - assistance-controller
      summary: Update existing FFATA Grant Report(s)
      description: Update existing FFATA Grant Report(s) by unique key
      operationId: updateFFATAGrantReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
      requestBody:
        description: Update FFATA Grant Report(s)
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FFATAGrantObject'
        required: true
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented

  #/assistance/v1/FFATA:  
    get:
      tags:
        - assistance-controller
      summary: Get existing Grant FFATA Subaward report(s)
      description: Get existing Grant FFATA Subaward report(s)
      operationId: getFFATAGrantReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
        - name: requestBody
          in: query
          description: Get existing Grant FFATA Subaward report(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/getGrantFFATA'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FFATAGrantObject'          
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented

  #/assistance/v1/FFATA:
    delete:
      tags:
        - assistance-controller
      summary: Delete Grant FFATA Subaward report(s)
      description: Delete Grant FFATA Subaward report(s)
      operationId: deleteFFATAGrantReport
      parameters:
        - name: Authorization
          in: header
          description: Authorization
          required: true
          schema:
            type: string
        - name: api_key
          in: query
          description: api_key
          required: true
          schema:
            type: string
        - name: requestBody
          in: query
          description: Delete Grant FFATA Subaward report(s)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/deleteGrantFFATA'
      responses:
        '200':
          description: successful operation
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '405':
          description: Validation exception          
        '500':
          description: Internal Server Error
        '501':
          description: Not Implemented


components:
  schemas:
    getContractFFATA: 
      type: object
      required:
        - primeEntityInformation
      properties: 
        primeEntityInformation: 
          type: array
          items: 
            type: object
            properties: 
              contractNumber: 
                type: string
                example: W9123823PTEST
              idvReferenceNumber: 
                type: string
                example: GSTEST001
              reportPeriodMon: 
                type: string
                example: 06
              reportPeriodYear: 
                type: string
                example: 2023
              reportingAgency: 
                type: string
                example: 2100
          minItems: 1
          
    deleteContractFFATA: 
      type: object
      required:
        - primeEntityInformation
      properties: 
        primeEntityInformation: 
          type: array
          items: 
            type: object
            properties: 
              contractNumber: 
                type: string
                example: W9123823PTEST
              idvReferenceNumber: 
                type: string
                example: GSTEST001
              reportPeriodMon: 
                type: string
                example: '06'
              reportPeriodYear: 
                type: string
                example: 2023
              reportingAgency: 
                type: string
                example: 2100
          minItems: 1
                
    FFATAContractObject:
      type: object
      required:
        - contractFFATAData
      properties:
        contractFFATAData: 
          type: object
          required:
            - primeEntityInformation
          properties: 
            primeEntityInformation: 
              type: array
              required:
                - contractNumber
                - reportPeriodMon
                - reportPeriodYear
                - reportingAgency
                - recovery_model_questions
                - subAwardDataList
              items: 
                type: object
                properties: 
                  contractNumber: 
                    type: string
                    example: W9123823PTEST
                  idvReferenceNumber: 
                    type: string
                    example: GSTEST001
                  reportPeriodMon: 
                    type: string
                    example: '06'
                  reportPeriodYear: 
                    type: string
                    example: 2023
                  reportingAgency: 
                    type: string
                    example: 2100
                  treasurySymbol: 
                    type: string
                    example: 12-3456
                  programTitle: 
                    type: string
                    example: Title of the program
                  recovery_model_questions: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        code: 
                          type: string
                          enum: ["0","1"]
                        isSelected: 
                          type: boolean
                    minItems: 1
                    maxItems: 2                
                  subAwardDataList: 
                    type: array
                    required:
                      - subAwardNumber
                      - subAwardDollars
                      - periodOfPerformanceStartDate
                      - uei
                      - overallDescription
                      - placeOfPerformance
                      - recovery_model_questions
                    items: 
                      type: object
                      properties: 
                        subAwardNumber: 
                          type: string
                          example: 2303-TEST-05-0
                        subAwardDollars: 
                          type: string
                          example: 100567.99
                        periodOfPerformanceStartDate: 
                          type: string
                          format: date
                          example: 2023-05-14
                        uei: 
                          type: string
                          example: ABC987654321
                        overallDescription: 
                          type: string
                          example: tEST Description
                        placeOfPerformance: 
                          type: object
                          required:
                            - country
                          properties: 
                            streetAddress: 
                              type: string
                              example: 2020 F Street XYZ
                            streetAddress2: 
                              type: string
                              example: 
                            city: 
                              type: object
                              properties: 
                                code: 
                                  type: string
                                  example: 1000
                                name: 
                                  type: string
                                  example: Alexandria
                            country: 
                              type: object
                              properties: 
                                code: 
                                  type: string
                                  example: USA
                                name: 
                                  type: string
                                  example: UNITED STATES
                            state: 
                              type: object
                              properties: 
                                code: 
                                  type: string
                                  example: VA
                                name: 
                                  type: string
                                  example: Virginia
                            zip: 
                              type: string
                              example: 12345
                        recovery_model_questions: 
                          type: array
                          items: 
                            type: object
                            properties: 
                              code: 
                                type: string
                                enum: [0,1]
                              isSelected: 
                                type: boolean
                          minItems: 1
                          maxItems: 2  
                        topPayEmployees: 
                          type: array
                          items: 
                            type: object
                            properties: 
                              full_name: 
                                type: string
                                example: John White
                              salary: 
                                type: string
                                example: 100000
                          minItems: 5
                          maxItems: 5
              minItems: 1
    
    getGrantFFATA: 
      type: object
      required:
        - primeEntityInformation
      properties: 
        primeEntityInformation: 
          type: array
          items: 
            type: object
            properties: 
              primeFAIN: 
                type: string
                example: 1001KS1420
              reportPeriodMon: 
                type: string
                example: 05
              reportPeriodYear: 
                type: string
                example: 2023
          minItems: 1
    
    deleteGrantFFATA: 
      type: object
      required:
        - primeEntityInformation
      properties: 
        primeEntityInformation: 
          type: array
          items: 
            type: object
            properties: 
              primeFAIN: 
                type: string
                example: 1001KS1420
              reportPeriodMon: 
                type: string
                example: 05
              reportPeriodYear: 
                type: string
                example: 2023
          minItems: 1                
    
    FFATAGrantObject:
      type: object
      required:
        - assistanceFFATAData
      properties:
        assistanceFFATAData: 
          type: object
          required:
            - primeEntityInformation
          properties: 
            primeEntityInformation: 
              type: array
              required:
                - primeFAIN
                - reportPeriodMon
                - reportPeriodYear
                - recovery_model_questions
                - subAssistanceDataList            
              items: 
                type: object
                properties: 
                  primeFAIN: 
                    type: string
                    example: 1001KS1420
                  reportPeriodMon: 
                    type: string
                    example: '05'
                  reportPeriodYear: 
                    type: string
                    example: 2023
                  eftIndicator: 
                    type: string
                    example: 9999
                  recovery_model_questions: 
                    type: array
                    items: 
                      type: object
                      properties: 
                        code: 
                          type: string
                          enum: ["0","1"]
                        isSelected: 
                          type: boolean
                    minItems: 1
                    maxItems: 2 
                  subAssistanceDataList: 
                    type: array
                    required:
                      - subAssistanceNumber
                      - uei
                      - subAssistanceDollars
                      - subAssistanceObligationOrActionDate
                      - overallDescription
                      - placeOfPerformance
                      - recovery_model_questions
                    items: 
                      type: object
                      properties: 
                        subAssistanceNumber: 
                          type: string
                          example: XX-YY-00008
                        uei: 
                          type: string
                          example: ABC123456789
                        eftIndicator: 
                          type: string
                          example: 1111
                        subAssistanceDollars: 
                          type: string
                          example: 100000
                        subAssistanceObligationOrActionDate: 
                          type: string
                          format: date
                          example: 2023-06-01
                        overallDescription: 
                          type: string
                          example: My Description
                        placeOfPerformance: 
                          type: object
                          required:
                            - country
                          properties: 
                            streetAddress: 
                              type: string
                              example: 1800 F Street NW
                            streetAddress2: 
                              type: string
                              example: 
                            city: 
                              type: object
                              properties: 
                                code: 
                                  type: string
                                  example: 1000
                                name: 
                                  type: string
                                  example: Alexandria
                            country: 
                              type: object
                              properties: 
                                code: 
                                  type: string
                                  example: USA
                                name: 
                                  type: string
                                  example: UNITED STATES
                            state: 
                              type: object
                              properties: 
                                code: 
                                  type: string
                                  example: VA
                                name: 
                                  type: string
                                  example: Virginia
                            zip: 
                              type: string
                              example: 12345
                        recovery_model_questions: 
                          type: array
                          items: 
                            type: object
                            properties: 
                              code: 
                                type: string
                                enum: [0,1]
                              isSelected: 
                                type: boolean
                          minItems: 1
                          maxItems: 2 
                        topPayEmployees: 
                          type: array
                          items: 
                            type: object
                            properties: 
                              full_name: 
                                type: string
                                example: John White
                              salary: 
                                type: string
                                example: 100000
                          minItems: 5
                          maxItems: 5
              minItems: 1