<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    <div id="wrapper">
        <div id="header">{% include header.html %}</div>
        <div id="content">
          {% if page.banner-heading %}
          <section class="usa-section usa-section-dark">
              <div class="usa-grid">
                  <div class="usa-width-one-whole usa-end-row">
                      <h2>{{ page.banner-heading }}</h2> {% if page.banner-text %}
                      <p>{{ page.banner-text }}</p>
                      {% endif %} {% if page.banner-button-text %}
                      <div class="center-content">
                          <a href="{{ page.banner-button-link}}" class="usa-button" title="View GSA open data on data.gov">{{ page.banner-button-text }}</a>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </section>
          {% endif %}
    <section class="banner functions">
        <div class="usa-grid-full" align="center">
          <h2>APIs and Developer Tools</h2>
        </br>
            <div class="usa-width-one-third">
                <i class="icon flag fa-cubes"></i>
                <h3>GSA APIs</h3>
                <p>A list of GSA APIs. These are publicly available in a standardized and machine-readable format.</p>
                <div class="usa-button-block"><a href="../api_list" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt2 fa-cogs"></i>
                <h3>Api.Data.Gov</h3>
                <p>A free API management service for federal agencies, making it easier for you to release and manage your APIs.</p>
                <div class="usa-button-block"><a href="http://api.data.gov/about/" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt fa-life-ring"></i>
                <h3>Support for GSA APIs</h3>
                <p>If you have a question or issue related to a GSA API, you can post your issue here.</p>
                <div class="usa-button-block"><a href="https://github.com/GSA/GSA-APIs/issues" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>
        </div>
    </section>
    {% include feedback.html %}
</div>
    <div id="footer">{% include footer.html %}</div>
    {% include javascript.html %}
    </div>
</body>

</html>
