---
layout: base
---
{% if page.banner-heading %}
  {% include banner-header.html %}
{% endif %}

<section>
  <div class="usa-grid-full" align="center">
      <h2>Getting to Open Source Software (OSS)</h2>

      <div class="usa-width-one-third">
          <i class="icon flag fa-users"></i>
          <h3>M-16-21</h3>
          <p>The White House policy telling federal agencies to account for code developed by the agency and publish at least 20% to the public.</p>
          <div class="usa-button-block"><a href="https://sourcecode.cio.gov/" class="usa-button  usa-button-outline">View</a>
          </div>
      </div>

      <div class="usa-width-one-third">
          <i class="icon flag alt2 fa-exchange"></i>
          <h3>GSA OSS Policy</h3>
          <p>GSA created its own policy in response to M-16-21 establishing its stance and instructions for organizations producing code.</p>
          <div class="usa-button-block"><a href="https://gsa.github.io/GSAOpenSourcePolicy/policy/" class="usa-button  usa-button-outline">View</a>
          </div>
      </div>

      <div class="usa-width-one-third">
          <i class="icon flag alt fa-laptop"></i>
          <h3>Futher reading</h3>
          <p>GSA has taken a lead in publishing OSS code and created an open source repository with implemenatation instructions.</p>
          <div class="usa-button-block"><a href="https://gsa.github.io/GSAOpenSourcePolicy/" class="usa-button  usa-button-outline">View</a>
          </div>
      </div>
  </div>
</section>

<section class="usa-section usa-section-dark">
  <div class="usa-grid-full">
    <h2 style="text-align: center;">View GSA Open Source Software Projects</h2>
{% for code in site.data.code.projects %}
  <div class="usa-width-one-whole data-list">
    <article>
    <h3>{{ code.name }}</h3>
    <p>{{ code.description }}</p>
    <a href="{{ code.repository }}">View Project</a>
  </div>
    </article>
{% endfor %}
  </div>
</section>
