<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    <div id="wrapper">
        <div id="header">{% include header.html %}</div>
        <div id="content">
          {% if page.banner-heading %}
          <section class="usa-section usa-section-dark">
              <div class="usa-grid">
                  <div class="usa-width-one-whole usa-end-row">
                      <h2>{{ page.banner-heading }}</h2> {% if page.banner-text %}
                      <p>{{ page.banner-text }}</p>
                      {% endif %} {% if page.banner-button-text %}
                      <div class="center-content">
                          <a href="{{ page.banner-button-link}}" class="usa-button" title="View GSA open data on data.gov">{{ page.banner-button-text }}</a>
                      </div>
                      {% endif %}
                  </div>
              </div>
          </section>
          {% endif %}
    <section class="banner functions">
        <div class="usa-grid-full" align="center">
          <h2>Getting to Open Source Software (OSS)</h2>
        </br>
            <div class="usa-width-one-third">
                <i class="icon flag fa-users"></i>
                <h3>M-16-21</h3>
                <p>The White House policy telling federal agencies to account for code developed by the agency and publish at least 20% to the public.</p>
                <div class="usa-button-block"><a href="https://sourcecode.cio.gov/" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt2 fa-exchange"></i>
                <h3>GSA OSS Policy</h3>
                <p>GSA created its own policy in response to M-16-21 establishing its stance and instructions for organizations producing code.</p>
                <div class="usa-button-block"><a href="https://gsa.github.io/GSAOpenSourcePolicy/policy/" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt fa-laptop"></i>
                <h3>Futher reading</h3>
                <p>GSA has taken a lead in publishing OSS code and created an open source repository with implemenatation instructions.</p>
                <div class="usa-button-block"><a href="https://gsa.github.io/GSAOpenSourcePolicy/" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>
        </div>
    </section>
    {% include feedback.html %}
</div>
    <div id="footer">{% include footer.html %}</div>
    {% include javascript.html %}
    </div>
</body>

</html>
