---
layout: base
---
{% if page.banner-heading %}
  {% include banner-header.html %}
{% endif %}

    <section class="banner functions">
        <div class="usa-grid-full" align="center">
          <h2>Featured Datasets</h2>
        </br>
            <div class="usa-width-one-third">
                <i class="icon flag fa-users"></i>
                <h3>Social Media Registry</h3>
                <p>The Social Media Registry is an official source of information about federal government social media accounts

.</p>
                <div class="usa-button-block"><a href="https://catalog.data.gov/dataset/social-media-registry-api" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt fa-laptop"></i>
                <h3>Jobs API</h3>
                <p>This Jobs API returns job openings across the federal government including current openings posted on USAJobs.gov.</p>
                <div class="usa-button-block"><a href="https://search.digitalgov.gov/developer/jobs.html" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt2 fa-exchange"></i>
                <h3>Gov APIs</h3>
                <p>A dataset listing of individual public APIs maintained by the US government in JSON format.</p>
                <div class="usa-button-block"><a href="https://catalog.data.gov/dataset/list-of-government-apis" class="usa-button  usa-button-outline">View</a>
                </div>
            </div>
        </div>
    </section>


    <section class="usa-section usa-section-dark">
        <div class="usa-grid-full">
            <h2 style="text-align: center;">View GSA Datasets</h2> {% for data in site.data.data.dataset %}

            <div class="usa-width-one-whole data-list">
                <article class="data-listing">
                    <header>
                        <h3 class="title">{{ data.title }}</h3>
                    </header>
                    <div class="content">
                        <p class="txt">
                            {{ data.description }}
                        </p>
                        <button class="usa-button-gray"><a href="{{ data.downloadURL | prepend: site.baseurl }}">Download Dataset</a></button>
                    </div>
                    <footer class="usa-card-footer">
                    </footer>
                </article>
                {% endfor %}
            </div>
    </section>
