---
layout: base
---

<div class="content">
  {% if page.banner-heading %}
  <section class="usa-section usa-section-dark">
      <div class="usa-grid">
          <div class="usa-width-one-whole usa-end-row">
              <h2>{{ page.banner-heading }}</h2> {% if page.banner-text %}
              <p>{{ page.banner-text }}</p>
              {% endif %} {% if page.banner-button-text %}
              <div class="center-content">
                  <a href="{{ page.banner-button-link}}" class="usa-button" title="View GSA open data on data.gov">{{ page.banner-button-text }}</a>
              </div>
              {% endif %}
          </div>
      </div>
  </section>
  {% endif %}

  <section class="banner functions">
      <div class="usa-grid-full" align="center">
        <h2>Featured Event</h2>

{% include events.html %}
</div>
