<!doctype html>
<html lang="en">

{% include head.html %}

<body>
    <div id="wrapper">
        <div id="header">{% include header.html %}</div>
        <div id="content">
        <section class="section-top hero-section">
            <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
                <section class="hero-search">
                        <div class="usa-grid">
                            <div class="usa-width-full">
                                <h2>{{ page.hero-text }}</h2>
                                <form class="usa-search usa-search-big" action="{{ '/search' | prepend: site.baseurl }}" method="get">
                                    <div role="search">
                                        <label class="usa-sr-only" for="search-field">Search</label>
                                        <input id="search-field" type="search" name="search">
                                        <button type="submit">
                                          <span class="usa-search-submit-text">Search</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                </section>
                  </div>
              </section>
    {% if page.banner-heading %}
    <section class="usa-section usa-section-dark">
        <div class="usa-grid">
            <div class="usa-width-one-whole usa-end-row">
                <h2>{{ page.banner-heading }}</h2> {% if page.banner-text %}
                <p>{{ page.banner-text }}</p>
                {% endif %} {% if page.banner-button-text %}
                <div class="center-content">
                    <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </section>
    {% endif %}

    <section class="banner functions">

        <div class="usa-grid-full" align="center">
            <div class="usa-width-one-third">
                <i class="icon flag fa-bar-chart"></i>
                <h3>DATA</h3>
                <p>Discover and download data from one of GSA's components.</p>
                <div class="usa-button-block"><a href="{{ '/data' | prepend: site.baseurl }}" class="usa-button  usa-button-outline">Discover Data</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt fa-gears"></i>
                <h3>APIs</h3>
                <p>Explore and access GSA data via dynamic web services.</p>
                <div class="usa-button-block"><a href="{{ '/api' | prepend: site.baseurl }}" class="usa-button  usa-button-outline">Explore APIs</a>
                </div>
            </div>

            <div class="usa-width-one-third">
                <i class="icon flag alt2 fa-code"></i>
                <h3>CODE</h3>
                <p>Contribute to our latest open source code projects.</p>
                <div class="usa-button-block"><a href="https://catalog.data.gov/dataset?publisher=General%20Services%20Administration" class="usa-button  usa-button-outline">Code with Us</a>
                </div>
            </div>
        </div>
    </section>
    {% include contact.html %}
</div>
    <div id="footer">{% include footer.html %}</div>
    {% include javascript.html %}
    </div>
</body>

</html>
