---
layout: base
---

<section class="section-top">
  <div id="main" tabindex="-1" class="hero-unit" style="background-image: url('{{ page.hero-image | prepend: site.baseurl }}')">
    <div class="usa-grid">
      <div class="usa-width-whole hero-content">
        <h1>{{ page.hero-text }}</h1>
        <!-- <a class="usa-button" href="{{ page.hero-button-link | prepend: site.baseurl }}">{{ page.hero-button-text }}</a> -->
      </div>
    </div>
  </div>
</section>

{% if page.banner-heading %}
<section class="banner tagline">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <h2>{{ page.banner-heading }}</h2>
      {% if page.banner-text %}
        <p class="call-to-action">{{ page.banner-text }}
            <div class="center-content">
              {% if page.content-button-link %}
                <a href="{{ page.content-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.content-button-text }}</a>
              {% endif %}
            </div>
        </p>
      {% endif %}
      {% if page.banner-button-text %}
      <div class="center-content">
        <a href="{{ page.banner-button-link | prepend: site.baseurl }}" class="usa-button">{{ page.banner-button-text }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endif %}

<section class="content">
  <div class="usa-grid">
    <div class="usa-width-one-whole usa-end-row">
      <!-- {{ content }} -->
    </div>
  </div>
</section>

<section class="banner functions portal-container">

<div class="usa-grid" align="center">
  <div class="usa-width-one-half">
      <h3>DATA PORTAL</h3>
      <p>Discover and download data from one of GSA's components.</p>
      <div class="usa-grid">
        <div class="usa-width-one-half">
          <form class="usa-search usa-search-small">
            <div role="search">
              <label class="usa-sr-only" for="search-field-small">Search small</label>
              <input id="search-field-small" type="search" name="search">
              <button type="submit">
                <span class="usa-sr-only">Search</span>
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="usa-button-block"><a href="{{ '/data' | prepend: site.baseurl }}" class="usa-button  usa-button-outline">More details</a>
      </div>
  </div>
  
  <div class="usa-width-one-half dev-portal">
      <h3>DEVELOPER PORTAL</h3>
      <p>Explore and access GSA data via dynamic web services.</p>
      <div class="usa-button-block"><a href="{{ '/api' | prepend: site.baseurl }}" class="usa-button  usa-button-outline">More details</a>
      </div>
  </div>
</div>

</div>

<br><br>
</div>

</section>


<!-- <section>
  <div class="usa-grid">
    <h2>Work</h2>
    {% include projects.html %}
  </div>
</section> -->



{% include contact.html %}
