---
layout: base
---

<div class="usa-grid sidenav">
  <aside class="usa-width-one-fourth">
    <ul class="usa-sidenav-list">
      {% for project in site.data.projects %}
          <li>
            {{ project.permalink }}
            {% if page.permalink == project.link %}
              <a class="usa-current-page" href="{{ project.link | prepend: site.baseurl }}">{{ project.title }}</a>
            {% else %}
              <a href="{{ project.link | prepend: site.baseurl }}">{{ project.title }}</a>
            {% endif %}
          </li>
      {% endfor %}
    </ul>
  </aside>
  <div class="usa-width-three-fourths usa-content" id="main" tabindex="-1">
    <h1>{{ page.title }}</h1>
    {% if page.image %}
      <div class="page--banner" style="background-image: url({{ page.image | prepend: site.baseurl }});"></div>
    {% endif %}
    {% if page.image-credit %}
      <span class="caption"><a href="{{page.image-credit}}" target="_blank">Photo credit</a> (Creative Commons)</span>
    {% endif %}
    {{ content }}
  </div>
</div>
