swagger: '2.0'
info:
  title: AG Document Library API
  version: 1.0.0
basePath: /acquisition/cap/v1/
paths:
  '/search/documents/{keyword}':
    get:
      tags:
        - search-documents
      summary: Performs search on Document Library documents
      parameters:
        - in: path
          name: keyword
          description: Keywords to use to search Document library
          type: string
          required: true
      responses:
        '200':
          description: List of search results
          schema:
            type: array
            items:
              $ref: '#/definitions/DocLibSearchResultItem'
  '/tag-groups/{group}':
    get:
      tags:
        - tag-groups
      summary: Retrieve all Tag Groups
      parameters:
        - in: path
          name: group
          description: Name of Tag Group
          required: true
          type: string
      responses:
        '200':
          description: List of Tag Groups
          schema:
            properties:
              data:
                description: Get a list of entities.
                type: array
                items:
                  $ref: '#/definitions/TagGroups'
            type: object
  '/documents':
    get:
      tags:
        - documents
      summary: List of documents
      responses:
        '200':
          description: List of documents
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Documents'
            type: object
  '/documents/{id}':
    get:
      tags:
        - documents
      summary: List of documents
      parameters:
        - in: path
          name: id
          description: document id
          required: true
          type: integer
      responses:
        '200':
          description: List of documents
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/definitions/Documents'
            type: object
definitions:
  Agencies:
    properties:
      id:
        description: tid of agency (taxonomy term)
        type: integer
      label:
        description: name of agency (taxonomy term)
        type: string
  File:
    properties:
      fid:
        description: id of file
        type: integer
      filename:
        description: name of file
        type: string
      filemime:
        description: file mime
        type: string
      url:
        description: file url to download
        type: string
      fileextension:
        description: file extension
        type: string
  DocLibSearchResultItem:
    properties:
      id:
        description: ID of document
        type: integer
      self:
        description: Url of the document API
        type: string
      title:
        description: Title of the document
        type: string
      node_type:
        description: Node type (document or arrt-e)
        type: string
      author:
        description: uid of the author of the content
        type: integer
      description:
        description: Description of the document
        type: string
      excerpt:
        description: Excerpt from document containing keywords
        type: string
      agency:
        description: Agency Name
        items:
          $ref: '#/definitions/Agencies'
      type:
        description: tags from the document type group selected for the item
        type: array
      acquisition_stage:
        description: tags from the acquisition stage group selected for the item
        type: array
      contract_type:
        description: tags from the contract type group selected for the item
        type: array
      format:
        description: Document format
        type: string
      public_private:
        description: Boolean indicating if document is public
        type: boolean
      file:
        description: List of file objects attached to document
        type: array
        items:
          $ref: '#/definitions/File'
      date_uploaded:
        description: UNIX timestamp of when document was uploaded/created
        type: string
      tags:
        description: List of tags associated with document
        type: array
        items:
          $ref: '#/definitions/Tag'
      relevance:
        description: Relevance score from search
        type: integer
      views:
        description: Number of times the document was viewed
        type: integer
      downloads:
        description: Number of downloads
        type: integer
      public:
        description: Value if document is checked for public access
        type: boolean
      comment_count:
        description: Total number of comments posted for the document
        type: integer
      project_content:
        description: True if document is associated with a project
        type: boolean
      updated:
        description: unix timestamp of date changed
        type: integer
      sections:
        description: arrt-e sections
        type: array
  Tag:
    properties:
      id:
        description: Unique ID
        type: integer
      label:
        description: tag label
        type: string
      description:
        description: Tag Description
        type: string
      icon:
        description: String containing the name of the icon associated with the tag. For example 'fa-user'
        type: string
  TagGroups:
    properties:
      id:
        description: ID of TagGroups
        type: integer
      label:
        description: Title of Group
        type: string
      self:
        description: URL for the api
        type: string
      url:
        description: url of the app
        type: string
      slug:
        description: slug value example acquisition-gateway.
        type: string
      description:
        description: Description of the TagGroups.
        type: string
      icon:
        description: icon of the TagGroups -Example fa-tag.
        type: string
      tags:
        description: tags information
        type: object
      style:
        description: Tag Groups style?.
        type: integer
      hidden:
        description: Is Tag Groups hidden?.
        type: string
      weight:
        description: Tag Groups weight.
        type: integer
  Documents:
    properties:
      id:
        description: ID of document
        type: integer
      self:
        description: Url of the document API
        type: string
      title:
        description: Title of the document
        type: string
      description:
        description: Description of the document
        type: string
      agency:
        description: Agency name
        items:
          $ref: '#/definitions/Agencies'
      format:
        description: Document format
        type: string
      type:
        description: tags from the document type group selected for the item
        type: array
      acquisition_stage:
        description: tags from the acquisition stage group selected for the item
        type: array
      contract_type:
        description: tags from the contract type group selected for the item
        type: array
      name:
        description: Document Username
        type: string
      uid:
        description: The user id for the Document Owner
        type: integer
      public_private:
        description: Boolean indicating if document is public
        type: boolean
      file:
        description: List of file objects attached to document
        type: array
        items:
          $ref: '#/definitions/File'
      date_uploaded:
        description: UNIX timestamp of when document was uploaded/created
        type: string
      tags:
        description: List of tags associated with document
        type: array
        items:
          $ref: '#/definitions/Tag'
      views:
        description: Number of times the document was viewed
        type: integer
      downloads:
        description: Number of downloads
        type: integer
      updated:
        description: unix timestamp of date changed
        type: integer
